<mat-card>
    <mat-card-header>
        {{ 'inscripcion.solicitud_transferencia' | translate }}
    </mat-card-header>
    <mat-card-content>
        <div style="padding: 1rem;">
            <fieldset class="fieldseter m-4">
                <legend>
                    <small>&nbsp; {{ 'inscripcion.inscripcion_general'| translate}}</small>
                </legend>
                <div style="display: -webkit-box; text-align-last: left;">
                    <div class="col-4">
                        <b>{{ 'GLOBAL.nombre' | translate }}</b>: {{ nombreEstudiante }}
                    </div>
                    <div class="col-4" *ngIf="tipo !== 'Transferencia externa'">
                        <b>{{ 'GLOBAL.codigo' | translate }}:</b> {{ codigoEstudiante }}
                    </div>

                    <div class="col-4">
                        <b>{{ 'GLOBAL.documento' | translate }}:</b> {{ documentoEstudiante }}
                    </div>
                </div>
                <div style="display: -webkit-box; text-align-last: left;">
                    <div class="col-4">
                        <b>{{ 'inscripcion.periodo' | translate }}</b>: {{ periodo }}
                    </div>
                    <div class="col-4">
                        <b>{{ 'inscripcion.nivel' | translate }}:</b> {{ nivelNombre }}
                    </div>
                    <div class="col-4">
                        <b>{{ 'inscripcion.tipo' | translate }}:</b> {{ tipo }}
                    </div>
                </div>
            </fieldset>
        </div>

        <ngx-dinamicform [normalform]="formTransferencia" [modeloData]="dataTransferencia">
            <div *ngIf="solicitudCreada" class="files-container">
                <!-- <ngx-download-file-nuxeo (loading)="changeLoading($event)" [idDoc]="file.id" [label]="file.label">
                </ngx-download-file-nuxeo> -->
            </div>
        </ngx-dinamicform>

        <ngx-dinamicform [normalform]="formRespuesta" (result)="respuestaForm($event)"
            (interlaced)="validarFormRespuesta($event)">
            <div clas="row">
                <div class="col-6">
                    <b>{{ 'GLOBAL.nombre' | translate }}</b>: {{ nombreCordinador }}
                </div>
                <div class="col-6">
                    <b>{{ 'GLOBAL.rol' | translate }}:</b> {{ rolCordinador }}
                </div>
            </div>
        </ngx-dinamicform>

    </mat-card-content>

    <mat-card-footer>
        <div class="text-center ">
            <button class="boton-primary m-20 " mat-button type="button" (click)="goback()">
                {{ 'GLOBAL.cancelar' | translate }}
            </button>
            <button class="boton-primary m-20" mat-button type="button" (click)="generarMatricula()">
                {{ 'inscripcion.generar_matricula' | translate }}
            </button>
        </div>
    </mat-card-footer>
</mat-card>