<mat-card>
  <mat-card-content style="width: 100%">
    <div class="col-12">
      <h2>{{ "admision.inscripcion" | translate }}</h2>

      <!-- FORMULARIO -->
      <div *ngIf="showProfile" class="margin-y">
        <!-- Nivel -->
        <mat-form-field class="form-field">
          <mat-label>{{ "admision.nivel" | translate }}:</mat-label>
          <mat-select
            [formControl]="CampoControl"
            [(ngModel)]="selectednivel"
            (selectionChange)="cambiarSelectPeriodoSegunNivel($event.value)"
          >
            <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
            <mat-option *ngFor="let item of nivel_load" [value]="item.Id">
              {{ item.Nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="CampoControl.hasError('required')">{{
            "admision.erro_selec_nivel" | translate
          }}</mat-error>
        </mat-form-field>

        <!-- Proyecto académico -->
        <mat-form-field class="form-field">
          <mat-label>{{ "admision.proyecto" | translate }}:</mat-label>
          <mat-select
            [formControl]="Campo1Control"
            [(ngModel)]="proyectos_selected"
            (selectionChange)="consultarPeriodosDoctorado(proyectos_selected)"
          >
            <mat-option value="">{{
              "GLOBAL.seleccionar" | translate
            }}</mat-option>
            <mat-option *ngFor="let item of proyectos" [value]="item.Id">
              {{ item.Nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="Campo1Control.hasError('required')">
            {{ "admision.error_proyecto" | translate }}
          </mat-error>
        </mat-form-field>

        <!--Periodo académico-->
        <mat-form-field class="form-field">
          <mat-label>{{ "admision.periodo_" | translate }}:</mat-label>
          <mat-select
            *ngIf="!selectMultipleNivel"
            [formControl]="Campo2Control"
            [(ngModel)]="periodoMultiple"
            placeholder="2020-I, 2020-II, 2020-III"
            (selectionChange)="loadInscritos()"
            required
          >
            <mat-option value="" disabled
              >--{{ "GLOBAL.seleccionar" | translate }}--</mat-option
            >
            <mat-option *ngFor="let periodo of periodos" [value]="periodo.Id">
              {{ periodo.Nombre }}
            </mat-option>
          </mat-select>
          <mat-select
            *ngIf="selectMultipleNivel"
            [formControl]="Campo2Control"
            [(ngModel)]="periodoMultiple"
            placeholder="2020-I, 2020-II, 2020-III"
            required
            multiple
          >
            <mat-option *ngFor="let periodo of periodos" [value]="periodo.Id">
              {{ periodo.Nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <!-- Boton para buscar -->
        <button
          mat-flat-button
          color="accent"
          type="button"
          *ngIf="mostrarBoton"
          (click)="loadInscritos()"
        >
          <mat-icon>search</mat-icon>
          {{ "GLOBAL.buscar" | translate }}
        </button>
        <!-- Mensaje -->
        <div *ngIf="mostrarMensajeInicial" class="alert warning margin-y">
          <mat-icon class="icon">info</mat-icon>
          <span
            >{{ "gestion_horarios.mensaje_doctorado" | translate }} :
            {{ nombresPeriodos }}
            {{ "gestion_horarios.mensaje_doctorado_mensaje" | translate }}</span
          >
        </div>

        <!-- RESUMEN DE LA TABLA -->
        <mat-card status="success" *ngIf="mostrarConteos">
          <mat-card-header class="card-header">
            <mat-card-title>
              {{ "admision.resumen_estados_inscripcion" | translate }}
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="card-content">
            <label
              >{{ "admision.estado_inscrito" | translate }}:
              <b>{{ cantidad_inscritos }}</b></label
            >
            <label
              >{{ "admision.estado_inscrito_observacion" | translate }}:
              <b>{{ cantidad_inscritos_obs }}</b></label
            >
            <label
              >{{ "admision.estado_admitido" | translate }}:
              <b>{{ cantidad_admitidos }}</b></label
            >
            <label
              >{{ "admision.total_aspirantes" | translate }}:
              <b>{{ cantidad_aspirantes }}</b></label
            >
          </mat-card-content>
        </mat-card>

        <!-- BUSCADOR DE LA TABLA -->
        <mat-card-content *ngIf="mostrarConteos">
          <div class="margin-y">
            <mat-form-field class="form-field">
              <mat-label>{{ "GLOBAL.buscar" | translate }}</mat-label>
              <input
                class="search-input"
                matInput
                placeholder="{{ 'GLOBAL.buscar' | translate }}"
                (keyup)="applyFilterProces($event)"
                matInput
              />
              <button mat-icon-button matSuffix color="primary">
                <mat-icon>search</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <!-- TABLA -->
          <div class="table table-container">
            <table mat-table [dataSource]="dataSource" matSort class="">
              <ng-container matColumnDef="credencial">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  style="width: 20%"
                >
                  {{ "admision.credencial" | translate }}
                </th>
                <td mat-cell *matCellDef="let row">{{ row.Credencial }}</td>
              </ng-container>

              <ng-container matColumnDef="identificacion">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  style="width: 20%"
                >
                  {{ "admision.id" | translate }}
                </th>
                <td mat-cell *matCellDef="let row">{{ row.Identificacion }}</td>
              </ng-container>

              <ng-container matColumnDef="nombre">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  style="width: 20%"
                >
                  {{ "admision.nombre" | translate }}
                </th>

                <td mat-cell *matCellDef="let row">{{ row.Nombre }}</td>
              </ng-container>

              <ng-container matColumnDef="estado">
                <th
                  mat-header-cell
                  *matHeaderCellDef
                  mat-sort-header
                  style="width: 20%"
                >
                  {{ "admision.estado" | translate }}
                </th>

                <td mat-cell *matCellDef="let row">{{ row.Estado }}</td>
              </ng-container>

              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                  {{ "GLOBAL.acciones" | translate }}
                </th>
                <td mat-cell *matCellDef="let row">
                  <button
                    mat-icon-button
                    title="{{ 'admision.revisar_docs' | translate }}"
                    (click)="loadPerfil({ data: row })"
                    matTooltip="{{ 'admision.revisar_docs' | translate }}"
                    color="accent"
                  >
                    <mat-icon>double_arrow</mat-icon>
                  </button>
                </td></ng-container
              >

              <tr mat-header-row *matHeaderRowDef="dataSourceColumn"></tr>
              <tr mat-row *matRowDef="let row; columns: dataSourceColumn"></tr>

              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">
                  {{ "calendario.sin_procesos" | translate }}
                </td>
              </tr>
            </table>
            <mat-paginator
              #paginator
              [pageSize]="5"
              [showFirstLastButtons]="true"
              [pageSizeOptions]="[5, 10, 15, 100]"
            >
            </mat-paginator>
          </div>
        </mat-card-content>
      </div>

      <div *ngIf="!showProfile">
        <button mat-flat-button color="primary" (click)="activateTab()">
          <mat-icon>arrow_back</mat-icon>
          {{ "GLOBAL.regresar" | translate }}
        </button>
        <div class="text-center">
          <ngx-perfil
            [SuiteTags]="tagsObject"
            [en_revision]="true"
            info_persona_id="{{ info_persona_id }}"
            inscripcion_id="{{ inscripcion_id }}"
            (revisar_doc)="revisarDocumento($event)"
            (notificar_obs)="notificarObservaciones($event)"
            [reloadTagComponent]="folderTagtoReload"
          >
          </ngx-perfil>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
