.card-header{
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color4);
  box-sizing: border-box;
  color: white;
}

.card-content{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}