

.mat-expansion-panel-body{
  overflow: auto;
}

.mat-form-field{
  padding-left: 2rem;
}

.button-return{
  padding: 3px;
}

:host ::ng-deep ng2-st-tbody-edit-delete {
  display: flex !important;
  height: 0 !important;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom {
  display: inline-block;
  width: 50px;
  text-align: center;
  font-size: 1.1em;
}

:host ::ng-deep ng2-st-tbody-custom {
  display: flex;
  justify-content: space-around;
}

:host ::ng-deep ng2-st-tbody-custom a.ng2-smart-action.ng2-smart-action-custom-custom:hover {
  color: #5dcfe3;
}
