<mat-card style="width: 90vw;">
    <mat-card-content>
      <div class=col-12>
        <fieldset [ngClass]="{'fieldseter':true}" >
          <legend>
            &nbsp; {{ 'admision.cupos_proyectos' | translate }}
          </legend>
  
          <mat-card [hidden]="show_profile">
              <mat-card-header class="d-block">
                  <!-- select periodo -->
                  <mat-form-field style="width: 40%;">
                      <mat-label>{{ 'calendario.periodo' | translate }}:</mat-label>
                      <mat-select [(ngModel)]="periodo" [disabled]='false' (selectionChange)="selectPeriodo()">
                          <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                          <mat-option *ngFor="let item of periodos" [value]="item">
                              {{item.Nombre}}
                          </mat-option>
                      </mat-select>
                  </mat-form-field>
  
                  <!-- select Nivel -->
                  <mat-form-field style="width: 100%;">
                      <mat-label>{{ 'GLOBAL.nivel' | translate }}:</mat-label>
                      <mat-select [formControl]="CampoControl"
                                  [(ngModel)]="selectednivel"
                                  (selectionChange)="loadProyectos()">
                          <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                          <mat-option *ngFor="let item of niveles" [value]="item.Id">
                              {{item.Nombre}}
                          </mat-option>
                      </mat-select>
                      <mat-error *ngIf="CampoControl.hasError('required')">{{ 'cupos.erro_selec_nivel' | translate }}</mat-error>
                  </mat-form-field>
  
                  <!-- select proyectos -->
                  <mat-form-field style="width: 100%;">
                      <mat-label>{{ 'GLOBAL.proyecto_academico' | translate }}:</mat-label>
                      <mat-select [formControl]="Campo1Control"
                                  [(ngModel)]="proyectos_selected"
                                  (selectionChange)="perfil_editar('info_cupos')"
                                  [disabled]='selectprograma'>
                          <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                          <mat-option *ngFor="let item of proyectos" [value]="item" [disabled]="!item.Id">
                              {{item.Nombre}}
                          </mat-option>
                      </mat-select>
                      <mat-error *ngIf="Campo1Control.hasError('required')">
                        {{ 'cupos.erro_selec_proyecto' | translate }}
                      </mat-error>
                  </mat-form-field>
                  <br/><br/>
  
              </mat-card-header>
  
          </mat-card>
  
          <!--Formularios------------------------------------------------------------->
          <mat-card [hidden]="!show_cupos">
              <mat-card-content>
                  <mat-tab-group fullWidth >
                      <mat-tab label="{{ 'cupos.cupos' | translate }}" *ngIf="!preinscripcion">
                      <crud-asignacion-cupo [info_proyectos]="this.proyectos_selected"
                                                    [info_periodo]="this.periodo"
                                                    [info_nivel]="this.esPosgrado">
                          </crud-asignacion-cupo>
                      </mat-tab>
                  </mat-tab-group>
              </mat-card-content>
          </mat-card>
  
        </fieldset>
      </div>
    </mat-card-content>
  </mat-card>
  