#noMostrar,
.no-mostrar {
  display: none;
}

.buttons-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  margin-top: 2rem;
  gap: 1rem;
}

.enlace-documento {
  cursor: pointer;
  color: var(--primary);
  margin-left: 1rem;
}

.alinear {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}
