<div>
  <div [class.loader-div]="loading">
    <mat-spinner *ngIf="loading" diameter="100" color="primary"></mat-spinner>
  </div>
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>{{ 'listado_pregrado.listar' | translate }}</ng-template>

      <mat-card>

        <br><br>

        <mat-card-content>
          <div class="form-container">

            <div>
              <mat-card-subtitle>{{ 'listado_pregrado.facultad' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'listado_pregrado.seleccion_facultad' | translate }}</mat-label>
                <mat-select formControlName="validatorFacultad" required (selectionChange)="onFacultadChange($event)">
                  <mat-option *ngFor="let facultad of facultades" [value]="facultad.Id">{{facultad.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-card-subtitle>{{ 'listado_pregrado.proyecto_curricular' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'listado_pregrado.seleccion_proyecto' | translate }}</mat-label>
                <mat-select formControlName="validatorProyecto" required>
                  <mat-option *ngFor="let proyecto of proyectosCurriculares"
                    [value]="proyecto.Id">{{proyecto.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-card-subtitle>{{ 'listado_pregrado.periodo' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'listado_pregrado.seleccion_periodo' | translate }}</mat-label>
                <mat-select formControlName="validatorPeriodo" required>
                  <mat-option *ngFor="let periodo of periodos" [value]="periodo.Id">{{periodo.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

          <div class="button-stepper">
            <button mat-stroked-button class="btn boton-primary" (click)="generarBusqueda(stepper)"
              [disabled]="!firstFormGroup.valid" [ngClass]="{'button-disabled': !firstFormGroup.valid}">{{
              'listado_pregrado.consultar' | translate }}</button>
          </div>

          <div class="button-stepper" class="mt-20">
            <button mat-stroked-button class="btn boton-primary" (click)="generarBusquedaGeneral(stepper)"
              [disabled]="!firstFormGroup.get('validatorPeriodo')!.valid"
              [ngClass]="{'button-disabled': !firstFormGroup.get('validatorPeriodo')!.valid}">
              {{ 'listado_pregrado.consultar_general' | translate }}
            </button>
          </div>

        </mat-card-content>
      </mat-card>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>{{ 'listado_pregrado.tabla_resumen' | translate }}</ng-template>
      <br><br>
      <mat-card>
        <mat-card-header>
          <mat-card-title>{{ 'listado_pregrado.resumen_estado' | translate }}</mat-card-title>
        </mat-card-header>
        <br><br>
        <mat-card-content>
          <div class="contenedor-resumen">
            <div class="titulo-resumen">
              <h6>{{ 'listado_pregrado.resumen_estado_grid' | translate }}</h6>
            </div>
            <ul>
              <li>{{ 'listado_pregrado.inscripcion_solicitada' | translate }} {{ inscripcionesSolicitadas }}</li>
              <li>{{ 'listado_pregrado.admitido' | translate }} {{ inscripcionesAdmitidas }}</li>
              <li>{{ 'listado_pregrado.opcionado' | translate }} {{ inscripcionesOpcionadas }}</li>
              <li>{{ 'listado_pregrado.no_admitido' | translate }} {{ inscripcionesNoAdmitidas }}</li>
              <li>{{ 'listado_pregrado.inscrito' | translate }} {{ inscripcionesInscritas }}</li>
              <li>{{ 'listado_pregrado.inscrito_ob' | translate }} {{ inscripcionesInscritasObservacion }}</li>
              <li>{{ 'listado_pregrado.admitido_legalizado' | translate }} {{ inscripcionesAdmitidasLegalizadas }}</li>
              <li>{{ 'listado_pregrado.admitido_observacion' | translate }} {{ inscripcionesAdmitidasObservacion }}</li>
              <li>{{ 'listado_pregrado.matriculado' | translate }} {{ inscripcionesMatriculadas }}</li>
              <li>{{ 'listado_pregrado.no_oficializado' | translate }} {{ inscripcionesNoOficializadas }}</li>
              <li><strong>{{ 'listado_pregrado.total' | translate }} {{ inscripcionesTotal }}</strong></li>
            </ul>
          </div>
        </mat-card-content>
      </mat-card>
      <br><br>
      <mat-card>
        <mat-card-content>
          <mat-form-field class="filtro">
            <mat-label>{{ "GLOBAL.filtro" | translate }}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
          </mat-form-field>
          <div class="table-container" style="overflow-x: auto;">
            <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 scrollable-table">

              <ng-container matColumnDef="Orden">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{ 'listado_pregrado.orden' |
                  translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.numeral}} </td>
              </ng-container>

              <ng-container matColumnDef="NombreCompleto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{
                  'listado_pregrado.nombre_completo' | translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.nombre_completo}} </td>
              </ng-container>

              <ng-container matColumnDef="Telefono">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{ 'listado_pregrado.telefono'
                  | translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
              </ng-container>

              <ng-container matColumnDef="Correo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{ 'listado_pregrado.correo' |
                  translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
              </ng-container>

              <ng-container matColumnDef="Puntaje">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{ 'listado_pregrado.puntaje' |
                  translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.puntaje}} </td>
              </ng-container>

              <ng-container matColumnDef="TipoInscripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{
                  'listado_pregrado.tipo_inscripcion' | translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.tipo_inscripcion}} </td>
              </ng-container>

              <ng-container matColumnDef="EstadoInscripcion">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{
                  'listado_pregrado.estado_inscripcion' | translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.estado_inscripcion}} </td>
              </ng-container>

              <ng-container matColumnDef="EstadoRecibo">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{
                  'listado_pregrado.estado_recibo' | translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.estado_recibo}}
                  <div class="status-indicator" [ngClass]="{
                      active: row.estado_recibo === 'Pago',
                      inactive: row.estado_recibo === 'Vencido'
                    }">
                    {{ row.estado_recibo === 'Pago' ? "Pago" : "Vencido"}}
                  </div>
                </td>

              </ng-container>

              <ng-container matColumnDef="Credencial">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{
                  'listado_pregrado.credencial' | translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.credencial}} </td>
              </ng-container>

              <ng-container matColumnDef="IdentificacionEnExamenEstado">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{
                  'listado_pregrado.identificacion_examen_estado' | translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.num_doc_icfes}} </td>
              </ng-container>

              <ng-container matColumnDef="IdentificacionActual">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{ 'listado_pregrado.documento'
                  | translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.num_doc_actual}} </td>
              </ng-container>

              <ng-container matColumnDef="CodigoProyecto">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="subHeaders">{{
                  'listado_pregrado.codigo_proyecto' | translate }}</th>
                <td mat-cell *matCellDef="let row"> {{row.cod_proyecto}} </td>
              </ng-container>

              <ng-container matColumnDef="SNP">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ 'listado_pregrado.snp' | translate }}</th>
                <td mat-cell *matCellDef="let row">
                  <div *ngIf="editingRowId === row.numeral; else notEditing">
                    <!-- <input [(ngModel)]="row.snp" (blur)="salirEdicion(row.numeral)" /> -->
                    <input [(ngModel)]="row.snp" />
                  </div>
                  <ng-template #notEditing>
                    {{ row.snp }}
                  </ng-template>
                </td>
              </ng-container>

              <ng-container matColumnDef="Acciones" stickyEnd>
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{"listado_pregrado.acciones" | translate}} </th>
                <td mat-cell *matCellDef="let row">
                  <div class="contenedor-acciones">
                    <button mat-icon-button [matMenuTriggerFor]="menu" class="boton-acciones"
                      aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="editar(row.numeral)" class="boton-acciones">
                        <div *ngIf="!row.estado_edicion" class="item">
                          <mat-icon class="icon-boton">edit</mat-icon>
                          <span>{{"GLOBAL.editar" | translate}}</span>
                        </div>
                        <div *ngIf="row.estado_edicion" class="item">
                          <mat-icon class="icon-boton">done</mat-icon>
                          <span>{{"GLOBAL.guardar" | translate}}</span>
                        </div>
                      </button>
                    </mat-menu>
                  </div>

                </td>
              </ng-container>


              <tr mat-header-row *matHeaderRowDef="colums"></tr>
              <tr mat-row *matRowDef="let row; columns: colums"></tr>


            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>

          <div class="button-container" style="display: flex; justify-content: center;">
            <div class="button-stepper">
              <button mat-stroked-button class="btn boton-primary" (click)="descargarArchivo()">{{
                'listado_pregrado.descargar' | translate }}</button>
            </div>
          </div>


        </mat-card-content>
      </mat-card>

      <br><br>

      <div class="button-container" style="display: flex; justify-content: center;">
        <div class="button-stepper">
          <button mat-stroked-button class="btn boton-primary">{{ 'listado_pregrado.regresar' | translate }}</button>
        </div>
      </div>

    </mat-step>
  </mat-stepper>
</div>