<div>
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>{{ 'listado_pregrado.listar' | translate }}</ng-template>

      <mat-card>
        
        <br><br>

        <mat-card-content>
          <div class="form-container">

            <div>
              <mat-card-subtitle>{{ 'listado_pregrado.facultad' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'listado_pregrado.seleccion_facultad' | translate }}</mat-label>
                <mat-select formControlName="validatorFacultad" required (selectionChange)="onFacultadChange($event)">
                  <mat-option *ngFor="let facultad of facultades" [value]="facultad.Id">{{facultad.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-card-subtitle>{{ 'listado_pregrado.proyecto_curricular' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'listado_pregrado.seleccion_proyecto' | translate }}</mat-label>
                <mat-select formControlName="validatorProyecto" required>
                  <mat-option *ngFor="let proyecto of proyectosCurriculares" [value]="proyecto.Id">{{proyecto.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-card-subtitle>{{ 'listado_pregrado.periodo' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'listado_pregrado.seleccion_periodo' | translate }}</mat-label>
                <mat-select formControlName="validatorPeriodo" required>
                  <mat-option *ngFor="let periodo of periodos" [value]="periodo.Id">{{periodo.Nombre}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            
          </div>

        <div class="button-stepper">
          <button mat-stroked-button matStepperNext class="btn boton-primary" (click)="generarBusqueda(stepper)" [disabled]="!firstFormGroup.valid" [ngClass]="{'button-disabled': !firstFormGroup.valid}">{{ 'listado_pregrado.consultar' | translate }}</button>
        </div>

        </mat-card-content>
      </mat-card>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>{{ 'listado_pregrado.tabla_resumen' | translate }}</ng-template>
      <br><br>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ 'listado_pregrado.resumen_estado' | translate }}</mat-card-title>
          </mat-card-header>
          <br><br>
          <mat-card-content>
            <mat-grid-list cols="7" rowHeight="40px">
              <!-- Elemento 1 -->
              <mat-grid-tile colspan="7" rowspan="1" [style.background]="tiles[0].color" [style.color]="tiles[0].textColor">
                <h6>{{ 'listado_pregrado.resumen_estado_grid' | translate }}</h6>
                
              </mat-grid-tile>
              
              <!-- Elemento 2 -->
              <mat-grid-tile colspan="1" rowspan="2" [style.background]="tiles[1].color" [style.color]="tiles[1].textColor">
                <p>{{ 'listado_pregrado.inscripcion_solicitada' | translate }}</p>
                <p>{{ tiles[1].text }}</p>
              </mat-grid-tile>
              
              <!-- Elemento 3 -->
              <mat-grid-tile colspan="1" rowspan="2" [style.background]="tiles[2].color" [style.color]="tiles[2].textColor">
                <p>{{ 'listado_pregrado.admitido' | translate }}</p>
                <p>{{ tiles[2].text }}</p>
              </mat-grid-tile>
              
              <!-- Elemento 4 -->
              <mat-grid-tile colspan="1" rowspan="2" [style.background]="tiles[3].color" [style.color]="tiles[3].textColor">
                <p>{{ 'listado_pregrado.opcionado' | translate }}</p>
                <p>{{ tiles[3].text }}</p>
              </mat-grid-tile>
              
              <!-- Elemento 5 -->
              <mat-grid-tile colspan="1" rowspan="2" [style.background]="tiles[4].color" [style.color]="tiles[4].textColor">
                <p>{{ 'listado_pregrado.no_admitido' | translate }}</p>
                <p>{{ tiles[4].text }}</p>
              </mat-grid-tile>
              
              <!-- Elemento 6 -->
              <mat-grid-tile colspan="1" rowspan="2" [style.background]="tiles[5].color" [style.color]="tiles[5].textColor">
                <p>{{ 'listado_pregrado.inscrito' | translate }}</p>
                <p>{{ tiles[5].text }}</p>
              </mat-grid-tile>
              
              <!-- Elemento 7 -->
              <mat-grid-tile colspan="1" rowspan="2" [style.background]="tiles[6].color" [style.color]="tiles[6].textColor">
                <p>{{ 'listado_pregrado.inscrito_ob' | translate }}</p>
                <p>{{ tiles[6].text }}</p>
              </mat-grid-tile>
              
              <!-- Elemento 8 -->
              <mat-grid-tile colspan="1" rowspan="2" [style.background]="tiles[7].color" [style.color]="tiles[7].textColor">
                <p>{{ 'listado_pregrado.total' | translate }}</p>
                <p>{{ tiles[7].text }}</p>
              </mat-grid-tile>
            </mat-grid-list>
          </mat-card-content>
        </mat-card>
        <br><br>
        <mat-card>
          <mat-card-content>
            <div class="table-container" style="overflow-x: auto;">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 scrollable-table">

                <ng-container matColumnDef="Orden">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.orden' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.numeral}} </td>
                </ng-container>
              
                <!-- <ng-container matColumnDef="Documento">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.documento' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.Documento}} </td>
                </ng-container> -->
              
                <ng-container matColumnDef="NombreCompleto">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.nombre_completo' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.nombre_completo}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Telefono">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.telefono' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.telefono}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Correo">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.correo' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.correo}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Puntaje">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.puntaje' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.puntaje}} </td>
                </ng-container>
              
                <ng-container matColumnDef="TipoInscripcion">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.tipo_inscripcion' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.tipo_inscripcion}} </td>
                </ng-container>
              
                <ng-container matColumnDef="EstadoInscripcion">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.estado_inscripcion' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.estado_inscripcion}} </td>
                </ng-container>
              
                <ng-container matColumnDef="EstadoRecibo">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.estado_recibo' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.estado_recibo}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Credencial">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.credencial' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.credencial}} </td>
                </ng-container>
              
                <ng-container matColumnDef="IdentificacionEnExamenEstado">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.identificacion_examen_estado' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.num_doc_icfes}} </td>
                </ng-container>

                <ng-container matColumnDef="IdentificacionActual">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.documento' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.num_doc_actual}} </td>
                </ng-container>
              
                <ng-container matColumnDef="CodigoProyecto">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.codigo_proyecto' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.cod_proyecto}} </td>
                </ng-container>

                <ng-container matColumnDef="SNP">
                  <th mat-header-cell *matHeaderCellDef>{{ 'listado_pregrado.snp' | translate }}</th>
                  <td mat-cell *matCellDef="let row">
                    <div *ngIf="editingRowId === row.numeral; else notEditing">
                      <!-- <input [(ngModel)]="row.snp" (blur)="salirEdicion(row.numeral)" /> -->
                      <input [(ngModel)]="row.snp" />
                    </div>
                    <ng-template #notEditing>
                      {{ row.snp }}
                    </ng-template>
                  </td>
                </ng-container>

                <!-- Acciones Column -->
                <ng-container matColumnDef="Acciones">
                  <th mat-header-cell *matHeaderCellDef class="border-right">{{ 'listado_pregrado.acciones' | translate }}</th>
                  <td mat-cell *matCellDef="let row" class="border-right ">
                    <div class="action-container">
                      <button class="boton-accion" mat-raised-button (click)="editar(row.numeral)">
                        <mat-icon class="icon-boton" *ngIf="!row.estado_edicion">edit</mat-icon>
                        <mat-icon class="icon-boton" *ngIf="row.estado_edicion">done</mat-icon>
                      </button>
                      <!-- <button mat-icon-button (click)="editar(row.numeral)" style="margin-right: 10px;">
                        <mat-icon>edit</mat-icon>
                      </button> -->
                    </div>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="colums"></tr>
                <tr mat-row *matRowDef="let row; columns: colums"></tr>


              </table>
            </div>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>


            <div class="button-container" style="display: flex; justify-content: center;">
              <div class="button-stepper">
                <button mat-stroked-button class="btn boton-primary" (click)="descargarArchivo()">{{ 'listado_pregrado.descargar' | translate }}</button>
              </div>
            </div>


          </mat-card-content>
        </mat-card>

        <br><br>

        <div class="button-container" style="display: flex; justify-content: center;">
          <div class="button-stepper">
            <button mat-stroked-button class="btn boton-primary">{{ 'listado_pregrado.regresar' | translate }}</button>
          </div>
        </div>

    </mat-step>
  </mat-stepper>
</div>
