<div>
  <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>{{ 'listado_pregrado.listar' | translate }}</ng-template>

      <mat-card>
        <!-- <mat-card-header>
          <mat-card-title>{{ 'listado_pregrado.informacion_proyecto' | translate }}</mat-card-title>
        </mat-card-header> -->

        <br><br>

        <mat-card-content>
          <div class="form-container">

            <div>
              <mat-card-subtitle>{{ 'listado_pregrado.periodo' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'listado_pregrado.seleccion_periodo' | translate }}</mat-label>
                <mat-select formControlName="validatorPeriodo" required>
                  <mat-option *ngFor="let food of foods" [value]="food.value">{{food.viewValue}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-card-subtitle>{{ 'listado_pregrado.nivel' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'listado_pregrado.seleccion_nivel' | translate }}</mat-label>
                <mat-select formControlName="validatorNivel" required>
                  <mat-option *ngFor="let food of foods" [value]="food.value">{{food.viewValue}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-card-subtitle>{{ 'listado_pregrado.proyecto_curricular' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'listado_pregrado.seleccion_proyecto' | translate }}</mat-label>
                <mat-select formControlName="validatorProyecto" required>
                  <mat-option *ngFor="let food of foods" [value]="food.value">{{food.viewValue}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div>
              <mat-card-subtitle>{{ 'listado_pregrado.facultad' | translate }}</mat-card-subtitle>
              <mat-form-field [formGroup]="firstFormGroup">
                <mat-label>{{ 'listado_pregrado.seleccion_facultad' | translate }}</mat-label>
                <mat-select formControlName="validatorFacultad" required>
                  <mat-option *ngFor="let food of foods" [value]="food.value">{{food.viewValue}}</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

          </div>

        <div class="button-stepper">
          <button mat-stroked-button matStepperNext class="btn boton-primary">{{ 'listado_pregrado.consultar' | translate }}</button>
        </div>

        </mat-card-content>
      </mat-card>

    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>{{ 'listado_pregrado.tabla_resumen' | translate }}</ng-template>
      <br><br>
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ 'listado_pregrado.resumen_estado' | translate }}</mat-card-title>
          </mat-card-header>
          <br><br>
          <mat-card-content>
            <div style="display: flex; justify-content: space-around;">
              <mat-card style="flex: 0 1 10%; margin-left: 150px;">
                <mat-card-content>{{ 'listado_pregrado.aspirantes' | translate }}</mat-card-content>
              </mat-card>
              <mat-card style="flex: 0 1 10%; margin-right: 100px;">
                <mat-card-content>50</mat-card-content>
              </mat-card>
              <mat-card style="flex: 0 1 10%; margin-left: 100px;">
                <mat-card-content>{{ 'listado_pregrado.inscritos' | translate }}</mat-card-content>
              </mat-card>
              <mat-card style="flex: 0 1 10%; margin-right: 150px;">
                <mat-card-content>15</mat-card-content>
              </mat-card>
            </div>
          </mat-card-content>
        </mat-card>
        <br><br>
        <mat-card>
          <mat-card-content>
            <div class="table-container" style="overflow-x: auto;">
              <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 scrollable-table">

                <ng-container matColumnDef="Orden">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.orden' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.Orden}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Documento">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.documento' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.Documento}} </td>
                </ng-container>
              
                <ng-container matColumnDef="NombreCompleto">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.nombre_completo' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.NombreCompleto}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Telefono">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.telefono' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.Telefono}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Correo">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.correo' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.Correo}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Puntaje">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.puntaje' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.Puntaje}} </td>
                </ng-container>
              
                <ng-container matColumnDef="TipoInscripcion">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.tipo_inscripcion' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.TipoInscripcion}} </td>
                </ng-container>
              
                <ng-container matColumnDef="EstadoInscripcion">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.estado_inscripcion' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.EstadoInscripcion}} </td>
                </ng-container>
              
                <ng-container matColumnDef="EstadoRecibo">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.estado_recibo' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.EstadoRecibo}} </td>
                </ng-container>
              
                <ng-container matColumnDef="Credencial">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.credencial' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.Credencial}} </td>
                </ng-container>
              
                <ng-container matColumnDef="IdentificacionEnExamenEstado">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.identificacion_examen_estado' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.IdentificacionEnExamenEstado}} </td>
                </ng-container>
              
                <ng-container matColumnDef="CodigoProyecto">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.codigo_proyecto' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.CodigoProyecto}} </td>
                </ng-container>
              
                <ng-container matColumnDef="SNP">
                  <th mat-header-cell *matHeaderCellDef class="subHeaders">{{ 'listado_pregrado.snp' | translate }}</th>
                  <td mat-cell *matCellDef="let row"> {{row.data.SNP}} </td>
                </ng-container>

                <!-- Acciones Column -->
                <ng-container matColumnDef="Acciones">
                  <th mat-header-cell *matHeaderCellDef class="border-right">{{ 'listado_pregrado.acciones' | translate }}</th>
                  <td mat-cell *matCellDef="let row" class="border-right ">
                    <div class="action-container" style="display: flex; flex-direction: row;">
                      <button mat-icon-button (click)="editar(row)" style="margin-right: 10px;">
                        <mat-icon>edit</mat-icon>
                      </button>

                      <button mat-icon-button (click)="editar(row)" style="margin-left: 10px;">
                        <mat-icon>visibility</mat-icon>
                      </button>
                    </div>
                  </td>
                </ng-container>


                <tr mat-header-row *matHeaderRowDef="colums"></tr>
                <tr mat-row *matRowDef="let row; columns: colums"></tr>


              </table>
            </div>

            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>


            <div class="button-container">
              <div class="button-stepper">
                <button mat-stroked-button class="btn boton-primary">{{ 'listado_pregrado.descargar' | translate }}</button>
              </div>
            </div>


          </mat-card-content>
        </mat-card>

    </mat-step>
  </mat-stepper>
</div>
