<table class="table-responsive">
  <thead>
    <!-- <tr><th colspan="4">{{ 'MENU.reportes.inscripciones.inscripciones' | translate }} </th></tr> -->
    <tr class="subheader">
      <th>{{ "GLOBAL.periodo" | translate }}</th>
      <th>{{ "GLOBAL.programa_academico" | translate }}</th>
      <th>{{ "enfasis.enfasis" | translate }}</th>
      <th>{{ "tipo_inscripcion.sub_titulo" | translate }}</th>
      <th>
        {{ "solicitudes.numero" | translate }}
        {{ "inscripcion.inscripcion" | translate }}
      </th>
      <th>{{ "tipo_inscripcion.estado" | translate }}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ inscripcion.Periodo }}</td>
      <td>{{ inscripcion.Programa }}</td>
      <td>{{ inscripcion.Enfasis }}</td>
      <td>{{ inscripcion.TipoInscripcion }}</td>
      <td>{{ inscripcion_id }}</td>
      <td>{{ inscripcion.Estado }}</td>
    </tr>
  </tbody>
</table>
