<table class="table-responsive">
  <thead>
    <tr class="subheader">
      <th>{{ "GLOBAL.institucion" | translate }}</th>
      <th>{{ "GLOBAL.programa" | translate }}</th>
      <th>{{ "GLOBAL.nivel" | translate }}</th>
      <th>{{ "GLOBAL.fecha_inicio" | translate }}</th>
      <th>{{ "GLOBAL.fecha_fin" | translate }}</th>
      <th>{{ "admision.estado" | translate }}</th>
      <th>{{ "admision.observacion" | translate }}</th>
      <th>{{ "solicitudes.soporte" | translate }}</th>
    </tr>
  </thead>
  <tbody *ngIf="info_formacion_academica">
    <tr *ngFor="let formacion of info_formacion_academica">
      <td>{{ formacion.NombreCompleto }}</td>
      <td>{{ formacion.ProgramaAcademico.Nombre }}</td>
      <td></td>
      <td>{{ formacion.FechaInicio }}</td>
      <td>{{ formacion.FechaFinalizacion }}</td>
      <td>
        {{ formacion.estadoObservacion ? formacion.estadoObservacion : "" }}
      </td>
      <td>{{ formacion.observacion ? formacion.observacion : "" }}</td>
      <td *ngIf="formacion.Documento !== undefined">
        <button
          mat-icon-button
          color="accent"
          type="button"
          (click)="abrirDocumento(formacion)"
        >
          <mat-icon>file_open</mat-icon>
        </button>
      </td>
      <td *ngIf="formacion.Documento === undefined">
        {{ "GLOBAL.no_informacion_registrada" | translate }}
      </td>
    </tr>
  </tbody>
  <tfoot
    *ngIf="(url_editar && gotoEdit) || (updateDocument && canUpdateDocument)"
  >
    <tr>
      <td colspan="8" style="background-color: var(--warning-main)" (click)="editar()">
        <span  class="link"
          ><mat-icon>edit</mat-icon> {{ "GLOBAL.actualizar" | translate }}</span
        >
      </td>
    </tr>
  </tfoot>
</table>
