.info-comprobante {
  background-color: #ddd;
  border: black solid 1px;
  padding: 1em;
  width: 100%;
}

mat-panel-title {
    justify-content: center !important;
    font-weight: bold !important;;
    width: 80%;
    padding-left: 12%;
}

mat-panel-description {
    justify-content: center !important;
    width: 10%;
}

.mat-expansion-panel-header.mat-expanded,
.mat-expansion-panel-header.mat-expanded:hover,
.mat-expansion-panel-header.mat-expanded.cdk-focused {
  background-color: var(--color4);
  height: 32px !important;
  mat-panel-title {
    color: var(--color100) !important;
  }
  mat-panel-description {
    color: var(--color100) !important;
  }
}

::ng-deep .mat-expansion-panel-body {
    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
}


