.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.separacion-acciones{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;
}

.container-buttons {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    flex-wrap: wrap;
}