<main>
  <!-- FORMULARIO DE BUSQUEDA -->
  <mat-card>
    <mat-card-content>
      <h2>{{ "admision.listar_aspirantes" | translate }}</h2>
      <section>
        <div class="form-grid2">
          <!-- select periodo -->
          <mat-form-field class="form-col1 form-field">
            <mat-label>{{ "calendario.periodo" | translate }}:</mat-label>
            <mat-select
              [(ngModel)]="periodo"
              (selectionChange)="selectPeriodo()"
            >
              <mat-option
                >--{{ "GLOBAL.seleccionar" | translate }}--</mat-option
              >
              <mat-option *ngFor="let item of periodos" [value]="item">
                {{ item.Nombre }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- select Nivel -->
          <mat-form-field class="form-col1 form-field">
            <mat-label>{{ "GLOBAL.nivel" | translate }}:</mat-label>
            <mat-select
              [formControl]="CampoControl"
              [(ngModel)]="selectednivel"
              (selectionChange)="loadProyectos()"
            >
              <mat-option
                >--{{ "GLOBAL.seleccionar" | translate }}--</mat-option
              >
              <mat-option *ngFor="let item of niveles" [value]="item.Id">
                {{ item.Nombre }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="CampoControl.hasError('required')">{{
              "cupos.erro_selec_nivel" | translate
            }}</mat-error>
          </mat-form-field>
        </div>
        <!-- select proyectos -->
        <mat-form-field class="form-col1 form-field">
          <mat-label>{{ "GLOBAL.proyecto_academico" | translate }}:</mat-label>
          <mat-select
            [formControl]="Campo1Control"
            [(ngModel)]="proyectos_selected"
            (selectionChange)="activar_button()"
            [disabled]="selectprograma"
          >
            <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
            <mat-option
              *ngFor="let item of proyectos"
              [value]="item"
              [disabled]="!item.Id"
            >
              {{ item.Nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="Campo1Control.hasError('required')">{{
            "cupos.erro_selec_proyecto" | translate
          }}</mat-error>
        </mat-form-field>
      </section>
      <!-- <button mat-button (click)="mostrartabla()" type="submit" nbButton status="success" [disabled]="buttoncambio">{{ 'admision.enlistar' | translate }}</button> -->
    </mat-card-content>
  </mat-card>

  <!-- Indicador de carga SVG -->
  <div *ngIf="loading" class="loading-indicator">
    <svg class="loading-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200">
      <rect fill="#03678F" stroke="#03678F" stroke-width="15" width="30" height="30" x="25" y="50">
        <animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.4"></animate>
      </rect>
      <rect fill="#03678F" stroke="#03678F" stroke-width="15" width="30" height="30" x="85" y="50">
        <animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="-.2"></animate>
      </rect>
      <rect fill="#03678F" stroke="#03678F" stroke-width="15" width="30" height="30" x="145" y="50">
        <animate attributeName="y" calcMode="spline" dur="2" values="50;120;50;" keySplines=".5 0 .5 1;.5 0 .5 1" repeatCount="indefinite" begin="0"></animate>
      </rect>
    </svg>
  </div>

  <div *ngIf="!loading" class="content-cards">
    <!-- RESUMEN 1 -->
  <mat-card style="border: 1px solid var(--primary)" *ngIf="mostrarConteos">
    <mat-card-header class="card-header">
      {{ "admision.resumen_estados_inscripcion" | translate }}
    </mat-card-header>
    <mat-card-content class="card-content">
      <label
        >{{ "admision.estado_inscrip_solicitada" | translate }}:
        <b>{{ cantidad_inscrip_solicitada }}</b></label
      >
      <label
        >{{ "admision.estado_admitido" | translate }}:
        <b>{{ cantidad_admitidos }}</b></label
      >
      <label
        >{{ "admision.estado_opcionado" | translate }}:
        <b>{{ cantidad_opcionados }}</b></label
      >
      <label
        >{{ "admision.estado_no_admitido" | translate }}:
        <b>{{ cantidad_no_admitidos }}</b></label
      >
      <label
        >{{ "admision.estado_inscrito" | translate }}:
        <b>{{ cantidad_inscritos }}</b></label
      >
      <label
        >{{ "admision.estado_inscrito_observacion" | translate }}:
        <b>{{ cantidad_inscritos_obs }}</b></label
      >
      <label
        >{{ "admision.total_aspirantes" | translate }}:
        <b>{{ cantidad_aspirantes }}</b></label
      >
    </mat-card-content>
  </mat-card>

  <!-- RESUMEN 2 -->
  <mat-card *ngIf="show_listado && mostrarConteos">
    <mat-card-content class="card-content">
      <label
        >{{ "cupos.cupos_proyecto" | translate }}:
        <b>{{ cuposProyecto }}</b></label
      >
      <label
        >{{ "cupos.cupos_opcionados" | translate }}:
        <b>{{ cuposOpcionados }}</b></label
      >
      <label
        >{{ "cupos.cupos_disponibles" | translate }}
        <b>{{ cuposProyecto - cuposAsignados }}</b></label
      >
      <!-- *ngIf="cuposProyecto - cuposAsignados > 0" -->
      <button
        mat-flat-button
        color="accent"
        (click)="asignacionDeCuposPorPrioridad()"
        
      >
        {{ "cupos.asignanacion_automatica" | translate }}
      </button>
    </mat-card-content>
  </mat-card>

  <!-- TABLA -->
  <mat-card *ngIf="show_listado && mostrarConteos">
    <mat-card-content>
      <div class="table">
        <table mat-table [dataSource]="source_emphasys" matSort>
          <ng-container matColumnDef="#">
            <th
              mat-header-cell
              *matHeaderCellDef
              style="width: 2%"
            >
              #
            </th>
            <td mat-cell *matCellDef="let row; let i = index">
              {{ i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="numero_documento">
            <th mat-header-cell *matHeaderCellDef>
              {{ "GLOBAL.Documento" | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
              {{ row.NumeroDocumento }}
            </td>
          </ng-container>

          <ng-container matColumnDef="nombre_completo">
            <th mat-header-cell *matHeaderCellDef >
              {{ "GLOBAL.Nombre" | translate }}
            </th>

            <td mat-cell *matCellDef="let row">
              {{ row.NombreAspirante }}
            </td>
          </ng-container>

          <ng-container matColumnDef="Telefono">
            <th mat-header-cell *matHeaderCellDef >
              {{ "GLOBAL.telefono" | translate }}
            </th>

            <td mat-cell *matCellDef="let row">{{ row.Telefono }}</td>
          </ng-container>
          <ng-container matColumnDef="correoelectronico">
            <th mat-header-cell *matHeaderCellDef >
              {{ "GLOBAL.correo_principal" | translate }}
            </th>

            <td mat-cell *matCellDef="let row">{{ row.Email }}</td>
          </ng-container>
          <ng-container matColumnDef="Puntaje">
            <th mat-header-cell *matHeaderCellDef >
              {{ "GLOBAL.Puntaje" | translate }}
            </th>

            <td mat-cell *matCellDef="let row">{{ row.NotaFinal }}</td>
          </ng-container>
          <ng-container matColumnDef="tipo_de_inscripcion">
            <th mat-header-cell *matHeaderCellDef >
              {{ "GLOBAL.TipoInscripcion" | translate }}
            </th>

            <td mat-cell *matCellDef="let row">
              {{ row.TipoInscripcion }}
            </td>
          </ng-container>
          <ng-container matColumnDef="enfasis">
            <th mat-header-cell *matHeaderCellDef >
              {{ "enfasis.enfasis" | translate }}
            </th>

            <td mat-cell *matCellDef="let row">{{ row.Enfasis }}</td>
          </ng-container>

          <ng-container matColumnDef="estado">
            <th mat-header-cell *matHeaderCellDef >
              {{ "GLOBAL.Estado" | translate }}
            </th>

            <td mat-cell *matCellDef="let row">
              <p *ngIf="!row.mostrarBotones">
                {{ row.EstadoInscripcionId.Nombre }}
              </p>
              <mat-form-field
                *ngIf="
                  row.mostrarBotones &&
                  hasTransition(row.EstadoInscripcionId.Nombre)
                "
                style="width: 100%"
              >
                <mat-select
                  [(value)]="row.NuevoEstadoInscripcionId"
                  style="color: black"
                  (valueChange)="onSaveConfirm(row)"
                >
                  <mat-option
                    >--{{ "GLOBAL.seleccionar" | translate }}--</mat-option
                  >
                  <mat-option
                    *ngFor="
                      let estado of filtrarEstados(
                        row.EstadoInscripcionId.Nombre
                      )
                    "
                    [value]="estado.value"
                  >
                    {{ estado.title }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <p
                *ngIf="
                  row.mostrarBotones &&
                  !hasTransition(row.EstadoInscripcionId.Nombre)
                "
              >
                {{
                  "inscripcion.no_permite_cambio"
                    | translate : { estado: row.EstadoInscripcionId.Nombre }
                }}
              </p>
            </td>
          </ng-container>

          <ng-container matColumnDef="estado_de_recibo">
            <th mat-header-cell *matHeaderCellDef >
              {{ "inscripcion.estado_recibo" | translate }}
            </th>

            <td mat-cell *matCellDef="let row">
              <div
                class="status-indicator"
                [ngClass]="{
                  active: row.EstadoRecibo === 'Pago',
                  inactive: row.EstadoRecibo !== 'Pago'
                }"
              >
                {{ row.EstadoRecibo === "Pago" ? "Pago" : "Vencido" }}
              </div>
            </td></ng-container
          >

          <ng-container matColumnDef="acciones">
            <th mat-header-cell *matHeaderCellDef >Acciones</th>
            <td mat-cell *matCellDef="let row">
              <!-- BOTONES DE EDITAR -->
              <div class="container-actions">
                <!-- BOTON EDITAR -->
                <ng-container *ngIf="!row.mostrarBotones">
                  <button
                    mat-icon-button
                    color="accent"
                    (click)="buttonedit(row)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </ng-container>

                <!-- BOTONES DE CONFIRMAR O CANCELAR -->
                <ng-container *ngIf="row.mostrarBotones">
                  <button
                    mat-icon-button
                    color="warn"
                    (click)="buttonedit(row)"
                  >
                    <mat-icon>close</mat-icon>
                  </button>
                </ng-container>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="source_emphasysColumns"></tr>
          <tr
            mat-row
            *matRowDef="let row; columns: source_emphasysColumns"
          ></tr>

          <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" [attr.colspan]="source_emphasysColumns.length">
              {{ "calendario.sin_procesos" | translate }}
            </td>
          </tr>
        </table>
      </div>
      <mat-paginator
        #paginator
        [pageSize]="cantidad_aspirantes"
        [showFirstLastButtons]="true"
        [pageSizeOptions]="[5, 10, 25, 50]"
      >
      </mat-paginator>
    </mat-card-content>
  </mat-card>
  </div>
</main>
