main{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.content-cards{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.container-actions{
  display: flex;
  gap: 0.3em;
}

.card-header{
  padding: 10px;
  display: flex;
  color: white;
  align-items: center;
  justify-content: center;
  background-color: var(--primary);
  box-sizing: border-box;
}

.card-content{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

@media (max-width: 800px) {
  .card-content{
    flex-direction: column;
  }
}

/* Estilos para el indicador de estado */
.status-indicator {
  margin-top: 0.3em;
  font-weight: bold;
  padding: 0.5rem;
  border-radius: 0.25rem;
  margin-bottom: 0.3rem;
}
.status-indicator.active {
  color: white;
  background-color: var(--success-base);
}
.status-indicator.inactive {
  color: white;
  background-color: var(--danger-base);
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem; /* Ajusta según sea necesario */
  width: 100%;
}

.loading-svg {
  width: 100px; /* Ajusta el tamaño del SVG */
  height: 100px; /* Ajusta el tamaño del SVG */
}