<mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <ng-template matStepLabel>Liquidación recibos</ng-template>

    <mat-card>
      <mat-card-header>
        <mat-card-title>Información del proyecto curricular</mat-card-title>
      </mat-card-header>

      <br><br>

      <mat-card-content>
        <div class="form-container">

          <div>
            <mat-card-subtitle>Proyecto curricular</mat-card-subtitle>
            <mat-form-field [formGroup]="firstFormGroup" style="width: 100%;">
              <mat-label>{{ 'GLOBAL.proyecto_academico' | translate }}:</mat-label>
              <mat-select formControlName="validatorProyecto" required>
                <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                <mat-option *ngFor="let item of proyectos" [value]="item" [disabled]="!item.Id">
                  {{item.Nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-card-subtitle>Periodo</mat-card-subtitle>
            <mat-form-field [formGroup]="firstFormGroup">
              <mat-label>{{ 'GLOBAL.periodo' | translate }}:</mat-label>
              <mat-select formControlName="validatorPeriodo" required>
                <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                <mat-option *ngFor="let item of periodos" [value]="item">{{item.Nombre}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div>
            <mat-card-subtitle>Semestre</mat-card-subtitle>
            <mat-form-field [formGroup]="firstFormGroup">
              <mat-label>Selecciona un Semestre</mat-label>
              <mat-select formControlName="validatorSemestre" required>
                <mat-option *ngFor="let food of foods" [value]="food.value">{{food.viewValue}}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>

        <div class="button-stepper">
          <button mat-stroked-button matStepperNext class="azulOscuro" (click)="cargarDatos()">Consultar</button>
        </div>

      </mat-card-content>
    </mat-card>

  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <ng-template matStepLabel>Plantilla</ng-template>

    <mat-card>
      <mat-card-content>
        <div class="table-container" style="overflow-x: auto;">
          <table mat-table [dataSource]="admitidos" class="mat-elevation-z8 scrollable-table">
            <div>

              <!-- Seleccion group -->
              <ng-container matColumnDef="seleccionHeader">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="1" class="border-right blanco"></th>
              </ng-container>

              <!-- Detalles del Pago group -->
              <ng-container matColumnDef="detallesPagoHeader">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="5" class="border-right">Detalles del Pago</th>
              </ng-container>

              <!-- Conceptos Base group -->
              <ng-container matColumnDef="conceptosBaseHeader">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="3" class="border-right">Conceptos Base</th>
              </ng-container>

              <!-- Conceptos Descuentos group -->
              <ng-container matColumnDef="conceptosDescuentosHeader">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="11" class="border-right">Conceptos Descuentos</th>
              </ng-container>

              <!-- Fecha Cuotas group -->
              <ng-container matColumnDef="fechaPagoCoutasHeader">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="3" class="border-right cuotas">Fechas Pago Cuotas
                </th>
              </ng-container>

              <!-- Porcentaje Cuotas group -->
              <ng-container matColumnDef="porcentajeCoutasHeader">
                <th mat-header-cell *matHeaderCellDef [attr.colspan]="3" class="border-right cuotas">Porcentaje de cada
                  cuota</th>
              </ng-container>


              <!-- Seleccion Column -->
              <ng-container matColumnDef="seleccion">
                <th mat-header-cell *matHeaderCellDef class="border-right subHeaders">Seleccion</th>
                <td mat-cell *matCellDef="let row" class="border-right">
                  <mat-checkbox [color]="'primary'">
                  </mat-checkbox>
                </td>
              </ng-container>

              <!-- Detalles del Pago Column -->

              <ng-container matColumnDef="codigo">
                <th mat-header-cell *matHeaderCellDef class="subHeaders"> Código </th>
                <td mat-cell *matCellDef="let row"> {{row.Codigo}} </td>
              </ng-container>

              <ng-container matColumnDef="cedula">
                <th mat-header-cell *matHeaderCellDef class="subHeaders"> Cédula </th>
                <td mat-cell *matCellDef="let row"> {{row.Documento}} </td>
              </ng-container>

              <ng-container matColumnDef="nombreApellido">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">Nombre y Apellido</th>
                <td mat-cell *matCellDef="let row">{{row.Nombre}}{{row.PrimerApellido}}{{row.SegundoApellido}}</td>
              </ng-container>

              <ng-container matColumnDef="creditos">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">Créditos</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field>
                    <input matInput placeholder="Créditos" [(ngModel)]="row.creditos" (change)="calcularValorMatricula(row)">
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="cuotas">
                <th mat-header-cell *matHeaderCellDef class="border-right subHeaders">Cuotas</th>
                <td mat-cell *matCellDef="let row" class="border-right">
                  <mat-form-field>
                    <input matInput placeholder="Cuotas" [(ngModel)]="row.cuotas" (change)="actualizarValoresCuotas(row)">
                  </mat-form-field>
                </td>
              </ng-container>


              <!-- Conceptos Base Column -->

              <ng-container matColumnDef="seguroEstudiantil">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">Seguro Estudiantil</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select [value]="row.Seguro ? 'true' : 'false'">
                      <mat-option value="true">Sí</mat-option>
                      <mat-option value="false">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="carneEstudiantil">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">Carné Estudiantil</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select [value]="row.Carne ? 'true' : 'false'">
                      <mat-option value="true">Sí</mat-option>
                      <mat-option value="false">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="sistematizacion">
                <th mat-header-cell *matHeaderCellDef class="border-right subHeaders">Sistematización</th>
                <td mat-cell *matCellDef="let row" class="border-right">
                  <mat-form-field class="small-form-field">
                    <mat-select [value]="row.Sistematizacion ? 'true' : 'false'">
                      <mat-option value="true">Sí</mat-option>
                      <mat-option value="false">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>


              <!-- Conceptos Descuentos Column -->


              <ng-container matColumnDef="votacion">
                <th mat-header-cel mat-header-cell *matHeaderCellDef class="subHeaders">10% Votación</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select (selectionChange)="toggleDescuento($event, row, 1)" [value]="row.Descuentos.includes(1) ? 'true' : 'false'" placeholder="Seleccione">
                      <mat-option [value]="'true'">Sí</mat-option>
                      <mat-option [value]="'false'">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="monitor">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">Monitor</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select (selectionChange)="toggleDescuento($event, row, 2)" [value]="row.Descuentos.includes(2) ? 'true' : 'false'" placeholder="Seleccione">
                      <mat-option [value]="'true'">Sí</mat-option>
                      <mat-option [value]="'false'">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="egresado">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">Egresado</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select (selectionChange)="toggleDescuento($event, row, 6)" [value]="row.Descuentos.includes(6) ? 'true' : 'false'" placeholder="Seleccione">
                      <mat-option [value]="'true'">Sí</mat-option>
                      <mat-option [value]="'false'">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="docente">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">Docente</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select [(value)]="row.Codigo" placeholder="Seleccione">
                      <mat-option value="true">Sí</mat-option>
                      <mat-option value="false">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="beneficiario">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">RCSA</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select (selectionChange)="toggleDescuento($event, row, 3)" [value]="row.Descuentos.includes(3) ? 'true' : 'false'" placeholder="Seleccione">
                      <mat-option [value]="'true'">Sí</mat-option>
                      <mat-option [value]="'false'">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="beca">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">PPUD</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select (selectionChange)="toggleDescuento($event, row, 5)" [value]="row.Descuentos.includes(5) ? 'true' : 'false'" placeholder="Seleccione">
                      <mat-option [value]="'true'">Sí</mat-option>
                      <mat-option [value]="'false'">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="mejorECAES">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">Mejor ECAES</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select (selectionChange)="toggleDescuento($event, row, 4)" [value]="row.Descuentos.includes(4) ? 'true' : 'false'" placeholder="Seleccione">
                      <mat-option [value]="'true'">Sí</mat-option>
                      <mat-option [value]="'false'">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="gradoHonor">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">Beca</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select (selectionChange)="toggleDescuento($event, row, 7)" [value]="row.Descuentos.includes(7) ? 'true' : 'false'" placeholder="Seleccione">
                      <mat-option [value]="'true'">Sí</mat-option>
                      <mat-option [value]="'false'">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="segundoHermano">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">50% Segundo Hermano</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select [(value)]="row.Codigo" placeholder="Seleccione">
                      <mat-option value="true">Sí</mat-option>
                      <mat-option value="false">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="secretariaEducacion">
                <th mat-header-cell *matHeaderCellDef class="subHeaders">70% Secretaria Educacion</th>
                <td mat-cell *matCellDef="let row">
                  <mat-form-field class="small-form-field">
                    <mat-select [(value)]="row.Codigo" placeholder="Seleccione">
                      <mat-option value="true">Sí</mat-option>
                      <mat-option value="false">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <ng-container matColumnDef="doctoradoInterinstitucio">
                <th mat-header-cell *matHeaderCellDef class="border-right subHeaders">90% Doctorado Interinstitucio</th>
                <td mat-cell *matCellDef="let row" class="border-right">
                  <mat-form-field class="small-form-field">
                    <mat-select [(value)]="row.Codigo" placeholder="Seleccione">
                      <mat-option value="true">Sí</mat-option>
                      <mat-option value="false">No</mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- Fecha Pago Cuotas Column -->

              <ng-container matColumnDef="fechaCuotaUno">
                <th mat-header-cell *matHeaderCellDef class="cuotas">Fecha Primer Pago</th>
                <td mat-cell *matCellDef="let row">{{ row.Codigo}}</td>
              </ng-container>

              <ng-container matColumnDef="fechaCuotaDos">
                <th mat-header-cell *matHeaderCellDef class="cuotas">Fecha Segundo Pago</th>
                <td mat-cell *matCellDef="let row">{{ row.Codigo}}</td>
              </ng-container>

              <ng-container matColumnDef="fechaCuotaTres">
                <th mat-header-cell *matHeaderCellDef class="border-right cuotas">Fecha Tercer Pago</th>
                <td mat-cell *matCellDef="let row" class="border-right">{{row.Codigo}}</td>
              </ng-container>



              <!-- Porcentaje Cuotas Column -->

              <ng-container matColumnDef="primeraCuota">
                <th mat-header-cell *matHeaderCellDef class="cuotas">Primera Cuota</th>
                <td mat-cell *matCellDef="let row">{{ row.valorCuota1 }}</td>
              </ng-container>

              <ng-container matColumnDef="segundaCuota">
                <th mat-header-cell *matHeaderCellDef class="cuotas">Segunda Cuota</th>
                <td mat-cell *matCellDef="let row">{{ row.valorCuota2 }}</td>
              </ng-container>

              <ng-container matColumnDef="terceraCuota">
                <th mat-header-cell *matHeaderCellDef class="border-right cuotas">Tercera Cuota</th>
                <td mat-cell *matCellDef="let row" class="border-right">{{ row.valorCuota3 }}</td>
              </ng-container>


              <!-- Valor Recibo Column -->

              <ng-container matColumnDef="valorRecibo">
                <th mat-header-cell *matHeaderCellDef class="border-right">Valor recibo</th>
                <td mat-cell *matCellDef="let row" class="border-right">{{ row.valorRecibo}}</td>
              </ng-container>


              <!-- Acciones Column -->
              <ng-container matColumnDef="acciones">
                <th mat-header-cell *matHeaderCellDef class="border-right"> Acciones </th>
                <td mat-cell *matCellDef="let row" class="border-right ">
                  <div class="action-container">
                    <button mat-icon-button (click)="descargar(row)">
                      <mat-icon>cloud_download</mat-icon>
                    </button>
                  </div>
                </td>
              </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-header-row
                *matHeaderRowDef="['seleccion'].concat(detallesPagoColumns, conceptosBaseColumns, conceptosDescuentosColumns, porcentajeCoutasColumns, 'valorRecibo', 'acciones')">
              </tr>
              <tr mat-row
                *matRowDef="let row; columns: ['seleccion'].concat(detallesPagoColumns, conceptosBaseColumns, conceptosDescuentosColumns, porcentajeCoutasColumns, 'valorRecibo', 'acciones')">
              </tr>

            </div>
          </table>
        </div>

        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>


        <div class="button-container">
          <div class="button-stepper">
            <button mat-stroked-button class="azulOscuro"(click)="guardarLiquidaciones()">Guardar</button>
          </div>

          <div class="button-stepper">
            <button mat-stroked-button class=" azulClaro"(click)="generarRecibos()">Generar recibos</button>
          </div>

          <div class="button-stepper">
            <button mat-stroked-button class="azulClaro">Descargar listado</button>
          </div>

          <div class="button-stepper">
            <button mat-stroked-button class="azulClaro"(click)="descargarPDFs()"[disabled]="!generados"> Descargar conjunto de recibos</button>
          </div>

          <div class="button-stepper">
            <button mat-stroked-button class="azulClaro"(click)="notificarGeneracionRecibos()"[disabled]="!generados">Asignar recibos a estudiantes</button>
          </div>
        </div>


      </mat-card-content>
    </mat-card>

  </mat-step>
</mat-stepper>