
.boton-primary {
  background-color: #03678f;
  color: white;
  padding: 10px 20px;
  border: 1px solid #03678f;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
  
  th {
    text-align: center;
    background-color: #bdd7ee;
    border: 1px solid black;
    color: #333;
    font-weight: bold;
  }
  
  td{
    border: 1px solid black;
  }
  
  
  .tabla .PBM{
    text-align: center;
    background-color: #bdd7ee;
  }
  
  .tabla .seleccion{
    background-color: #bdd7ee;
  }
  
  .tabla .estudiante{
    background-color: #bdd7ee;
  }
  
  .tabla .variableA{
    background-color: #ffd966;
  }
  
  .tabla .variableB{
    background-color: #f4b084;
  }
  
  .tabla .variableG{
    background-color: #e2efda;
  }
  
  .tabla .total{
    background-color: #a9d08e;
  }
  
  .tabla .acciones{
    background-color: #1ba1e2;
  }
  
  .paginador{
    width: 100%;
    border: 1px solid black;
  }

  .boton-primary-table {

    height: 45px;
    border: solid 1px #03678f;
    border-radius: 5px;
    font-weight: 300;
    background-color: #03678f;
    border-color: #03678f;
    margin-right: 10px;
    cursor: pointer;
    color: white !important;
  
  }


  .separacion-acciones {
    display: flex;
    justify-content: space-around;
  }


  .custom-filter-container {
    background-color: #f2f2f2;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    align-items: center;
    width: 600px; /* Ajusta el ancho según sea necesario */
}

.custom-filter-container input {
    flex: 1;
    margin-left: 5px;
    border: none;
}

.icon-search {
    color: #757575;
    cursor: pointer;
}

