<mat-card class="card" style="margin-top: 20px;">
    <div [class.loader-div]="loading">
        <mat-spinner *ngIf="loading" diameter="100"></mat-spinner>
    </div>
    <mat-card-content style="width: 100%; ">
        <div class=col-12>
            <fieldset [ngClass]="{'fieldseter':true}">
                <legend>
                    &nbsp; {{ 'liquidacion.recibos' | translate }}
                </legend>

                <div class="contenedor-formulario">

                    <mat-form-field>
                        <mat-label>{{ 'listado_pregrado.facultad' | translate }}:</mat-label>
                        <mat-select [formControl]="facultadControl" (selectionChange)="onFacultadChange($event)">
                            <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                            <mat-option *ngFor="let item of facultades" [value]="item.Id">{{item.Nombre}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="facultadControl.hasError('required')">{{ 'admision.error_proyecto' | translate
                            }}</mat-error>
                    </mat-form-field>

                    <mat-form-field>
                        <mat-label>{{ 'reportes.Proyecto' | translate }}</mat-label>
                        <mat-select [formControl]="proyectoControl">
                            <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                            <mat-option *ngFor="let item of proyectosCurriculares" [value]="item.Id">{{item.Nombre}}</mat-option>
                        </mat-select>
                        <mat-error *ngIf="proyectoControl.hasError('required')">{{ 'admision.erro_selec_nivel' | translate
                            }}</mat-error>
                    </mat-form-field>



                    <mat-form-field>
                        <mat-label>{{ 'reportes.Periodo' | translate }}:</mat-label>
                        <mat-select [formControl]="periodoControl">
                            <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                             <mat-option *ngFor="let item of periodos" [value]="item.Id"> {{item.Nombre}} </mat-option> 
                        </mat-select>
                        <mat-error *ngIf="periodoControl.hasError('required')">{{ 'admision.error_proyecto' | translate
                        }}</mat-error>
                    </mat-form-field>

                    <div class="boton-busqueda">
                        <div class="row justify-content-md-center">
                            <button class="boton-primary"(click)="realizarBusqueda()">{{
                                'GLOBAL.continuar' | translate }}</button>
                        </div>
                    </div>
                    <br /><br />
                </div>
            </fieldset>
        </div>
    </mat-card-content>
</mat-card>
<div class="contenedor-tabla-liquidacion">
    <app-liquidacion-table  [datosRecibos]="datosTabla"></app-liquidacion-table>
</div>