<mat-card>
  <mat-card-content>
    <h2>{{ "documento_proyecto.titulo" | translate }}</h2>

    <section class="margin-y">
      <div class="form-grid2">
        <!-- select periodo -->
        <mat-form-field style="width: 100%">
          <mat-label
            >{{ "documento_proyecto.aviso_periodo" | translate }}:</mat-label
          >
          <mat-select
            [(ngModel)]="periodo"
            [disabled]="false"
            (selectionChange)="cambioPeriodo(periodo)"
          >
            <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
            <mat-option *ngFor="let item of periodos" [value]="item">
              {{ item.Nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <!-- select Nivel -->
        <mat-form-field style="width: 100%">
          <mat-label
            >{{ "documento_proyecto.aviso_nivel" | translate }}:</mat-label
          >
          <mat-select
            [formControl]="CampoControl"
            [(ngModel)]="selectednivel"
            (selectionChange)="filtrarPorNivel(selectednivel)"
          >
            <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
            <mat-option *ngFor="let item of nivel_load" [value]="item.Id">
              {{ item.Nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="CampoControl.hasError('required')">{{
            "documento_proyecto.erro_selec_nivel" | translate
          }}</mat-error>
        </mat-form-field>

        <!-- select Facultad -->
        <mat-form-field style="width: 100%">
          <mat-label>{{
            "documento_proyecto.seleccion_facultad" | translate
          }}</mat-label>
          <mat-select
            [formControl]="Campo1Control"
            [(ngModel)]="facultad"
            (selectionChange)="filtrarPorFacultades(facultad)"
          >
            <mat-option>
              {{ "GLOBAL.seleccionar" | translate }}
            </mat-option>
            <mat-option *ngFor="let item of facultades" [value]="item.Id">
              {{ item.Nombre }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="Campo1Control.hasError('required')">
            {{ "documento_proyecto.erro_selec_proyecto" | translate }}
          </mat-error>
        </mat-form-field>

        <!-- select proyectos -->
        <mat-form-field style="width: 100%">
          <mat-label
            >{{ "documento_proyecto.aviso_proyecto" | translate }}:</mat-label
          >
          <mat-select
            [formControl]="Campo2Control"
            [(ngModel)]="proyectos_selected"
            (selectionChange)="loadTipoInscripcion()"
          >
            <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
            <mat-option
              *ngFor="let item of proyectosFilteredFacultad"
              [value]="item.Id"
              [disabled]="!item.Id"
              >{{ item.Nombre }}</mat-option
            >
          </mat-select>
          <mat-error *ngIf="Campo2Control.hasError('required')">
            {{ "documento_proyecto.erro_selec_proyecto" | translate }}
          </mat-error>
        </mat-form-field>
      </div>

      <!-- select tipo_inscripcion -->
      <mat-form-field style="width: 100%">
        <mat-label
          >{{
            "documento_proyecto.aviso_tipo_inscripcion" | translate
          }}:</mat-label
        >
        <mat-select
          [formControl]="Campo3Control"
          [(ngModel)]="tipo_inscripcion_selected"
          (selectionChange)="savePrograma()"
        >
          <mat-option>--{{ "GLOBAL.seleccionar" | translate }}--</mat-option>
          <mat-option
            *ngFor="let item of tipos_inscripcion"
            [value]="item.Id"
            >{{ item.Nombre }}</mat-option
          >
        </mat-select>
        <mat-error *ngIf="Campo3Control.hasError('required')">
          {{ "documento_proyecto.error_selec_tipo_inscripcion" | translate }}
        </mat-error>
      </mat-form-field>
    </section>

    <!-- Tag de criterios -->
    <section
      *ngIf="tipo_inscripcion_selected"
      class="container"
    >
      <div id="info_basica">
        <mat-card
          class="exp-card"
          (click)="openSelectDocumentoProyectoComponent()"
        >
          <mat-card-header class="exp-card-header"><b>{{
            "documento_proyecto.documentos" | translate
          }}</b></mat-card-header>
          <mat-card-content class="exp-card-content">
            <mat-icon class="exp-card-content-icon">picture_as_pdf</mat-icon>
          </mat-card-content>
        </mat-card>
      </div>
      <!-- <div
        id="info_basica"
        *ngIsGranted="['VICERRECTOR', 'ASESOR_VICE']"
      > -->
      <div
        id="info_basica"
      >
        <mat-card
          class="exp-card"
          (click)="openSelectDescuentoProyectoComponent()"
        >
          <mat-card-header class="exp-card-header"><b>{{
            "documento_proyecto.descuentos" | translate
          }}</b></mat-card-header>
          <mat-card-content class="exp-card-content">
            <mat-icon class="exp-card-content-icon">folder-icon</mat-icon>
          </mat-card-content>
        </mat-card>
      </div>
    </section>
  </mat-card-content>
</mat-card>
