.container-buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  position: sticky;
  bottom: 0;
  background: white; /* Fondo blanco para que se destaque sobre el contenido */
  padding: 1em;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.1); /* Sombra para destacar los botones */
  justify-content: flex-end;
}

.resizable {
  height: 600px;
  resize: vertical; /* Permite redimensionar en ambas direcciones */
  overflow: auto; /* Agrega una barra de desplazamiento si es necesario */
}

.container{
  width: 100%;
  position: relative;
}

