<mat-card>
  <fieldset>
    <legend>
      <h1>{{ "CODIFICACION.TITLE" | translate }}</h1>
    </legend>
    <mat-card-header>
      <mat-card-title>{{ "CODIFICACION.VARIABLES_START" | translate }}</mat-card-title>
    </mat-card-header>
    <br />
    <mat-card-content>
      <form [formGroup]="selectionForm" (ngSubmit)="onSubmit()">
        <div class="grid">
          <mat-form-field appearance="fill" class="grid-2">
            <mat-label>{{ "CODIFICACION.SELECT_LEVEL" | translate }}</mat-label>
            <mat-select formControlName="nivel" (selectionChange)="onNivelChange($event)">
              <mat-option
                *ngFor="let nivel of niveles"
                [value]="nivel.value"
              >
                {{ nivel.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                selectionForm.get('nivel')?.hasError('required') &&
                selectionForm.touched
              "
              >{{ "CODIFICACION.ERRORS.SELECT_LEVEL" | translate }}</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill" class="grid-2">
            <mat-label>{{ "CODIFICACION.SELECT_SUBLEVEL" | translate }}</mat-label>
            <mat-select formControlName="subNivel" (selectionChange)="onSubNivelChange($event)">
              <mat-option *ngFor="let subNivel of subNiveles" [value]="subNivel.value">
                {{ subNivel.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                selectionForm.get('subNivel')?.hasError('required') &&
                selectionForm.touched
              "
              >{{ "CODIFICACION.ERRORS.SELECT_SUBLEVEL" | translate }}</mat-error
            >
          </mat-form-field>
        </div>

        <div class="grid">
          <mat-form-field appearance="fill" class="grid-3">
            <mat-label>{{ "CODIFICACION.SELECT_PROYECTO_CURRICULAR" | translate }}</mat-label>
            <mat-select formControlName="proyectoCurricular" (selectionChange)="onProyectoCurricularChange($event)">
              <mat-option
                *ngFor="let proyecto of proyectosFiltrados"
                [value]="proyecto.value"
              >
                {{ proyecto.viewValue }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                selectionForm.get('proyectoCurricular')?.hasError('required') &&
                selectionForm.touched
              "
              >{{ "CODIFICACION.ERRORS.SELECT_PROYECTO_CURRICULAR" | translate }}</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill" class="grid-3">
            <mat-label>{{ "CODIFICACION.SELECT_ANO_INICIO" | translate }}</mat-label>
            <mat-select formControlName="anoInicio" (selectionChange)="onAnoInicioChange($event)">
              <mat-option *ngFor="let ano of anosInicio" [value]="ano">
                {{ ano }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                selectionForm.get('anoInicio')?.hasError('required') &&
                selectionForm.touched
              "
              >{{ "CODIFICACION.ERRORS.SELECT_ANO_INICIO" | translate }}</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill" class="grid-3">
            <mat-label>{{ "CODIFICACION.INPUT_PROYECTO_CURRICULAR" | translate }}</mat-label>
            <input
              matInput
              placeholder="Código proyecto curricular"
              formControlName="codigoProyectoCurricular"
              readonly
            />
            <mat-error
              *ngIf="
                selectionForm.get('codigoProyectoCurricular')?.hasError('required') &&
                selectionForm.touched
              "
              >{{ "CODIFICACION.ERRORS.INPUT_PROYECTO_CURRICULAR" | translate }}</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="fill" class="grid-3">
            <mat-label>{{ "CODIFICACION.SELECT_PERIODO_ACADEMICO" | translate }}</mat-label>
            <mat-select formControlName="periodoAcademico" (selectionChange)="onPeriodoChange($event)">
              <mat-option
                *ngFor="let periodo of periodosFiltrados"
                [value]="periodo.Id"
              >
                {{ periodo.Nombre }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                selectionForm.get('periodoAcademico')?.hasError('required') &&
                selectionForm.touched
              "
              >{{ "CODIFICACION.ERROS.SELECT_PERIODO_ACADEMICO" | translate }}</mat-error
            >
          </mat-form-field>

          <!-- <mat-form-field appearance="fill" class="grid-3">
            <mat-label>{{ "CODIFICACION.INPUT_PLAN_ESTUDIOS" | translate }}</mat-label>
            <mat-select formControlName="planEstudios">
              <mat-option
                *ngFor="let plan of planEstudiosFiltrados"
                [value]="plan.Id"
              >
                {{ plan.Nombre }}
              </mat-option>
            </mat-select>
            <mat-error
              *ngIf="
                selectionForm.get('planEstudios')?.hasError('required') &&
                selectionForm.touched
              "
              >{{ "CODIFICACION.ERROS.INPUT_PLAN_ESTUDIOS" | translate }}</mat-error
            >
          </mat-form-field> -->
        </div>

        <mat-card-actions class="centrar">
          <button
            mat-flat-button
            color="primary"
            class="boton-primary"
            type="submit"
            [disabled]="selectionForm.invalid"
          >
          {{ "CODIFICACION.BUTTON_ACEPTAR" | translate }}
          </button>
        </mat-card-actions>
      </form>
    </mat-card-content>

    <div *ngIf="boolListado">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 mt">
        <!-- ID Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let element">{{ element.index}}</td>
        </ng-container>

        <!-- Apellido Column -->
        <ng-container matColumnDef="apellidos">
          <th mat-header-cell *matHeaderCellDef>{{ "CODIFICACION.TABLE_COLUMNA_APELLIDOS" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.PrimerApellido + element.SegundoApellido }}</td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef>{{ "CODIFICACION.TABLE_COLUMNA_NOMBRES" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.PrimerNombre + element.SegundoNombre }}</td>
        </ng-container>

        <!-- Estado Admisión Column -->
        <ng-container matColumnDef="estadoAdmision">
          <th mat-header-cell *matHeaderCellDef>{{ "CODIFICACION.TABLE_COLUMNA_ESTADO_ADMISION" | translate }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.EstadoInscripcion }}
          </td>
        </ng-container>

        <!-- Enfasis Column -->
        <ng-container matColumnDef="enfasis">
          <th mat-header-cell *matHeaderCellDef>{{ "CODIFICACION.TABLE_COLUMNA_ENFASIS" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.Enfasis }}</td>
        </ng-container>

        <!-- Numero Documento Column -->
        <ng-container matColumnDef="numeroDocumento">
          <th mat-header-cell *matHeaderCellDef>{{ "CODIFICACION.TABLE_COLUMNA_NUMERO_DOCUMENTO" | translate }}</th>
          <td mat-cell *matCellDef="let element">
            {{ element.NumeroDocumento }}
          </td>
        </ng-container>

         <!-- Puntaje Column -->
         <ng-container matColumnDef="puntaje">
          <th mat-header-cell *matHeaderCellDef>{{ "CODIFICACION.TABLE_COLUMNA_PUNTAJE" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.PuntajeFinal }}</td>
        </ng-container>

        <!-- Código Column -->
        <ng-container matColumnDef="codigo">
          <th mat-header-cell *matHeaderCellDef>{{ "CODIFICACION.TABLE_CODIGO" | translate }}</th>
          <td mat-cell *matCellDef="let element">{{ element.codigo }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <mat-card-actions>
        <div class="left-button">
          <button
            mat-raised-button
            color="primary"
            class="boton-primary"
            (click)="descargarListado()"
          >
          {{ "CODIFICACION.BUTTON_DESCARGAR_LISTADO" | translate }}
          </button>
        </div>
        <div class="right-buttons">
          <button
            mat-flat-button
            color="primary"
            class="boton-primary"
            (click)="generarCodigos()"
            [disabled]="isCodigos"
          >
          {{ "CODIFICACION.BUTTON_GENERAR_CODIGOS" | translate }}
          </button>
          <button
            mat-flat-button
            color="primary"
            class="boton-primary"
            (click)="asignarCodificacion()"
            [disabled]="!isGenerarCodigos"
          >
          {{ "CODIFICACION.BUTTON_GENERAR_CODIFICACION" | translate }}
          </button>
        </div>
      </mat-card-actions>
    </div>
  </fieldset>
</mat-card>
