th {
    text-align: center;
    background-color: #1ba1e2;
    border: 1px solid black;
    color: #333;
    font-weight: bold;
}

td {
    text-align: center;
    border: 1px solid black;
}

.mt-5 {
    margin-top: 5px;
}

.title {
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.container {
    margin-top: 20px;
}

.fondo_aviso {
    background-color: #e3c800;
    border-radius: 3px;
    padding: 10px;
    color: black;
    font-size: 14px;
    margin: 0em;
}

.paginator {
    border: 1px solid black;

}

.tabla .column {
    color: white;
    background-color: #1ba1e2;
    width: 21.25%;
}

.tabla .column-mas {
    color: white;
    background-color: #1ba1e2;
    width: 15%;
}


.boton-primary {
    background-color: #03678f;
    color: white;
    padding: 10px 20px;
    border: 1px solid #03678f;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.acciones {
    width: 100%;
    height: 100%;
    background-color: #1ba1e2;
    color: white;
    border: none;
}
.boton-column {
    width: 100%;
    height: 100%;
    border: solid 1px #03678f;
    border-radius: 5px;
    font-weight: 300;
    background-color: #03678f;
    border-color: #03678f;
    margin: 0;
    cursor: pointer;
    color: white !important;
    padding: 8px;
  }


.boton-table {
    width: 20%;
    border: solid 1px #03678f;
    border-radius: 5px;
    font-weight: 300;
    background-color: #03678f;
    border-color: #03678f;
    margin: 0;
    cursor: pointer;
    color: white !important;
    padding: 8px;
  }
  
  .exp-card {
    margin: 10px;
    align-content: center;
    cursor: pointer;
    width: 13.5rem;
    height: 14.5rem;
    transition: background-color 350ms;
}

.isSelected {
    background-color: lightcyan;
    border: solid;
    border-color: darkcyan;
    border-radius: 2%;
}


mat-icon{
    width: 100%;
    height: 100%;
}

.icon{
    font-size: 100px;
}

.icon-form {
    width: 100%;
    height: 100%;
    vertical-align: middle;
}

.row-layout {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    justify-items: center;
}

  .folder-icon{
    font-size: 150px;
  width: 100%;
  height: 100%;
  }

  .boton-busqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.documentos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.documentos button {
    background-color: #03678f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 2em; /* Ajusta este valor para cambiar el tamaño del texto del botón */
    padding: 20px; /* Ajusta estos valores para cambiar el tamaño del botón */
    width: 100%; /* Hace que el botón sea tan ancho como su contenedor */
}
