<table class="table-responsive">
  <thead>
    <tr class="subheader">
      <th>{{ "GLOBAL.soporte_documento" | translate }}</th>
      <th>{{ "GLOBAL.estado" | translate }}</th>
      <th>{{ "admision.observacion" | translate }}</th>
      <th>{{ "solicitudes.soporte" | translate }}</th>
    </tr>
  </thead>
  <tbody *ngIf="info_documento_programa">
    <tr *ngFor="let documento of info_documento_programa">
      <td>
        {{ documento.DocumentoProgramaId.TipoDocumentoProgramaId.Nombre }}
      </td>
      <td>{{ documento.estadoObservacion }}</td>
      <td>{{ documento.observacion }}</td>
      <td *ngIf="documento.DocumentoId !== undefined">
        <button
          mat-icon-button
          color="accent"
          type="button"
          (click)="abrirDocumento(documento)"
        >
          <mat-icon>file_open</mat-icon>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot
    *ngIf="(url_editar && gotoEdit) || (updateDocument && canUpdateDocument)"
  >
    <tr>
      <td colspan="4" style="background-color: var(--warning-main)" (click)="editar()">
        <span  class="link"
          ><mat-icon>edit</mat-icon> {{ "GLOBAL.actualizar" | translate }}</span
        >
      </td>
    </tr>
  </tfoot>
</table>
