<mat-card class="card">
    <mat-card-content style="width: 100%;">
        <div class=col-12>
            <fieldset [ngClass]="{'fieldseter':true}">
                <legend>
                    &nbsp; {{ 'admision.cupos_proyectos' | translate }}
                </legend>

                <mat-card [hidden]="show_profile">
                    <mat-card-header class="d-block">
                        <!-- select periodo -->
                        <mat-form-field style="width: 100%;">
                            <mat-label>{{ 'calendario.periodo' | translate }}:</mat-label>
                            <mat-select [(ngModel)]="periodo" [disabled]='false' (selectionChange)="selectPeriodo()">
                                <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                                <mat-option *ngFor="let item of periodos" [value]="item">
                                    {{item.Nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- select Nivel -->
                        <mat-form-field style="width: 100%;">
                            <mat-label>{{ 'GLOBAL.nivel' | translate }}:</mat-label>
                            <mat-select [formControl]="CampoControl" [(ngModel)]="selectednivel"
                                (selectionChange)="loadProyectos()">
                                <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                                <mat-option *ngFor="let item of niveles" [value]="item.Id">
                                    {{item.Nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="CampoControl.hasError('required')">{{ 'cupos.erro_selec_nivel' | translate
                                }}</mat-error>
                        </mat-form-field>

                        <!-- form -->
                        <mat-form-field style="width: 100%;">
                            <mat-label>{{ 'cupos.selec_cuenta' | translate }}</mat-label>
                            <mat-select [formControl]="Campo3Control" [(ngModel)]="cuentasBancarias">
                                <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                                <mat-option *ngFor="let cuenta of cuentas" [value]="cuenta">
                                    {{ cuenta.Nombre }} 
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div>
                            <button class="boton-primary" mat-button type="button" (click)="guardar(cuenta)">{{ 'GLOBAL.guardar' | translate }}</button>
                        </div>
                        <br /><br />
                        <div>
                            <button class="boton-primary" mat-button type="button">{{ 'GLOBAL.cancelar' | translate }}</button>
                        </div>

                        <br /><br />

                    </mat-card-header>

                </mat-card>

            </fieldset>
        </div>
    </mat-card-content>
</mat-card>