<div>
    <mat-card class="mt-20">

        <mat-card-header class="center-header ">
            <mat-card-title>
                {{"listado-oficializados.titulo" | translate}}
            </mat-card-title>
        </mat-card-header>

        <div style="display: flex; justify-content: center;">
            <mat-card-content class="mt-20 info"
                style="display: flex; justify-content: center; align-items: center; text-align: center; width: 60%;">
                <div> {{"listado-oficializados.info_listado_admitidos" | translate}}</div>
            </mat-card-content>
        </div>

        <div style="display: flex;">
            <section class="mt-20">
                <mat-card-content>
                    <mat-option>
                        {{"listado-oficializados.plazos" | translate}}
                    </mat-option>
                </mat-card-content>
            </section>

            <section class="mt-20">
                <mat-card-content>
                    <mat-option>
                        {{"listado-oficializados.estado" | translate}}
                    </mat-option>
                </mat-card-content>
            </section>
        </div>

        <br><br>

    </mat-card>

    <mat-card class="mt-20">
        <div class="table-container mt-20">
            <mat-table [dataSource]="datasourceListado">
                <!-- Columns -->
                <ng-container matColumnDef="proceso">
                    <mat-header-cell *matHeaderCellDef> {{"listado-oficializados.proceso_admision" | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.proceso}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="fechas">
                    <mat-header-cell *matHeaderCellDef> {{"listado-oficializados.fecha_inicial_final" | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.fechas}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef> {{"listado-oficializados.estados" | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="gestion">
                    <mat-header-cell *matHeaderCellDef> {{"listado-oficializados.gestion" | translate}}
                    </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                        <button mat-icon-button>
                            <mat-icon>search</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>

                <!-- Header and Row Declarations -->
                <mat-header-row *matHeaderRowDef="displayedColumnsListados"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumnsListados;"></mat-row>
            </mat-table>



        </div>
    </mat-card>

    <mat-card class="mt-20">
        <mat-card-header class="center-header">

            <mat-card-title>
               {{"listado-oficializados.listado_oficializados" | translate}}
            </mat-card-title>

        </mat-card-header>

        <mat-card-content>

            <div class="table-container mt-20">
                <mat-table [dataSource]="datasourceOficializado">
                    <!-- Columns -->
                    <ng-container matColumnDef="facultad">
                        <mat-header-cell *matHeaderCellDef> {{"evaluacionpregrado.facultad" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.proceso}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="codigo">
                        <mat-header-cell *matHeaderCellDef> {{"CODIFICACION.TABLE_CODIGO" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fechas}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="documento">
                        <mat-header-cell *matHeaderCellDef> {{"CODIFICACION.TABLE_COLUMNA_NUMERO_DOCUMENTO" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef> {{"CODIFICACION.TABLE_COLUMNA_NOMBRES" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="apellido">
                        <mat-header-cell *matHeaderCellDef> {{"CODIFICACION.TABLE_COLUMNA_APELLIDOS" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="correo">
                        <mat-header-cell *matHeaderCellDef> {{"listado-oficializados.correo_personal" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="telefono">
                        <mat-header-cell *matHeaderCellDef>  {{"GLOBAL.telefono" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef> No se ve </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="gestion">
                        <mat-header-cell *matHeaderCellDef> No se ve </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- Header and Row Declarations -->
                    <mat-header-row *matHeaderRowDef="displayedColumnsOficializado"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsOficializado;"></mat-row>
                </mat-table>

                <br><br>

                <button mat-icon-button class="boton-primary">
                   {{ "listado-oficializados.descargar_listado" | translate }}
                </button>

                <button mat-icon-button class="boton-primary">
                    {{ "listado-oficializados.sugerir_usuarios" | translate }}
                </button>
                <button mat-icon-button class="boton-primary">
                    {{ "listado-oficializados.solicitud_correos_institucionales" | translate }}
                </button>

            </div>

        </mat-card-content>

    </mat-card>

    <mat-card class="mt-20">
        <mat-card-header class="center-header">

            <mat-card-title>
                {{"listado-oficializados.listado_no_oficializados" | translate}}
            </mat-card-title>

        </mat-card-header>

        <mat-card-content>

            <div class="table-container">
                <mat-table [dataSource]="datasourceNoOficializados">
                    <!-- Columns -->
                    <ng-container matColumnDef="facultad">
                        <mat-header-cell *matHeaderCellDef> {{"evaluacionpregrado.facultad" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.proceso}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="codigo">
                        <mat-header-cell *matHeaderCellDef> {{"CODIFICACION.TABLE_CODIGO" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.fechas}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="documento">
                        <mat-header-cell *matHeaderCellDef> {{"CODIFICACION.TABLE_COLUMNA_NUMERO_DOCUMENTO" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.estado}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="nombre">
                        <mat-header-cell *matHeaderCellDef> {{"CODIFICACION.TABLE_COLUMNA_NOMBRES" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="apellido">
                        <mat-header-cell *matHeaderCellDef> {{"CODIFICACION.TABLE_COLUMNA_APELLIDOS" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="correo">
                        <mat-header-cell *matHeaderCellDef> {{"listado-oficializados.correo_personal" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="telefono">
                        <mat-header-cell *matHeaderCellDef>  {{"GLOBAL.telefono" | translate}} </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="estado">
                        <mat-header-cell *matHeaderCellDef> No se ve </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="gestion">
                        <mat-header-cell *matHeaderCellDef> No se ve </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <button mat-icon-button>
                                <mat-icon>search</mat-icon>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <!-- Header and Row Declarations -->
                    <mat-header-row *matHeaderRowDef="displayedColumnsNOficializado"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumnsNOficializado;"></mat-row>
                </mat-table>

                <br><br>

                <button mat-icon-button class="boton-primary">
                    {{ "listado-oficializados.descargar_listado" | translate }}
                </button>

                <button mat-icon-button class="boton-primary">
                   {{ "listado-oficializados.liberar_cupos" | translate }}
                </button>

            </div>

        </mat-card-content>

    </mat-card>

</div>