.center-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton-primary {
    background-color: #03678f;
    color: white;
    padding: 10px 20px;
    border: 1px solid #03678f;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.loader-div {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(117, 115, 115, 0.5);
    /* Fondo semitransparente rojo */
    z-index: 1;
}

.contenedor-botones {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.contenedor-botones button {
    color: var(--md-primary-contrast-A700);
    margin: 10px;
}

.contenedor-no-data {
    padding: 15px 0;
    text-align: center;
}

.actions-listado {
    margin: auto;
}

@media(width < 650px) {
    .contenedor-botones {
        flex-direction: column;
    }
}