<mat-card class="card" style="margin-top: 20px;">
    <mat-card-content style="width: 100%; ">
        <fieldset [ngClass]="{'fieldseter':true}">
            <div class=col-12>
                <div class="title">
                    <legend>
                        &nbsp; Soporte de configuracion del sistema para convocatorias
                    </legend>
                </div>
                <div class="aviso_criterio" align="center">
                    <label class="fondo_aviso">
                        <strong>{{ 'admision.nota' | translate }}:</strong> A continuación usted podra generar el
                        comprobante de configuracion del sistema para una convocatoria especifica, para ello
                        debera seleccionar las variables iniciales requeridas.
                    </label>
                </div>
                <div>
                    <fieldset [ngClass]="{'fieldseter':true}">
                        <legend>
                            &nbsp; Historicos
                        </legend>
                        <div>
                            <table mat-table [dataSource]="dataSource" matSort class="tabla">
                                <ng-container matColumnDef="orden">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column">
                                        {{'soporte-configuracion.orden' | translate}} </th>
                                    <td mat-cell *matCellDef="let row"> {{row.orden}} </td>
                                </ng-container>
                                <ng-container matColumnDef="convocatoria">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column">
                                        {{'soporte-configuracion.convocatoria' | translate}} </th>
                                    <td mat-cell *matCellDef="let row">{{row.convocatoria}} </td>
                                </ng-container>
                                <ng-container matColumnDef="generacion">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column">
                                        {{'soporte-configuracion.generacion' | translate}} </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{row.generacion}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="usuario">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column">
                                        {{'soporte-configuracion.usuario' | translate}} </th>
                                    <td mat-cell *matCellDef="let row">
                                        {{row.usuario}}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="+">
                                    <th mat-header-cell *matHeaderCellDef mat-sort-header class="column-mas">
                                        <input class="boton-column" type="button" value="+">
                                    </th>
                                    <td mat-cell *matCellDef="let row">
                                        <button aria-hidden="false" title="{{'admision.tooltip_eliminar' | translate}}"
                                            class="boton-table">
                                            <mat-icon>get_app</mat-icon>
                                        </button>
                                        <button aria-hidden="false" title="{{'admision.tooltip_eliminar' | translate}}"
                                            class="boton-table">
                                            <mat-icon>visibility</mat-icon>
                                        </button>
                                        <button aria-hidden="false" title="{{'admision.tooltip_eliminar' | translate}}"
                                            class="boton-table">
                                            <mat-icon>delete</mat-icon>
                                        </button>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="columns"></tr>
                                <tr mat-row *matRowDef="let row; columns: columns;"></tr>

                                <!-- Row shown when there is no matching data. -->
                                <tr class="mat-row" *matNoDataRow>
                                    <td class="mat-cell" colspan="4">{{'soporte-configuracion.nodata' | translate}}</td>
                                </tr>
                            </table>
                            <mat-paginator #paginator [pageSize]="6" [showFirstLastButtons]="true" class="paginator">
                            </mat-paginator>
                        </div>
                    </fieldset>
                </div>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <button class="boton-primary">{{
                            'GLOBAL.continuar' | translate }}</button>
                    </div>
                </div>
            </div>
        </fieldset>
    </mat-card-content>
</mat-card>

<mat-card class="card" style="margin-top: 20px;">
    <mat-card-content style="width: 100%; ">
        <fieldset [ngClass]="{'fieldseter':true}">
            <div class=col-12>
                <div class="title">
                    <legend>
                    </legend>
                </div>


                <div>
                    <fieldset [ngClass]="{'fieldseter':true}">
                        <legend>
                            &nbsp; Variables
                        </legend>
                        <div>
                            <!-- select periodo -->
                            <mat-form-field style="width: 40%;">
                                <mat-label>{{ 'admision.aviso_periodo' | translate }}:</mat-label>
                                <mat-select [(ngModel)]="periodo" [disabled]='false'
                                    (selectionChange)="selectPeriodo()">
                                    <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                                    <mat-option *ngFor="let item of periodos" [value]="item">
                                        {{item.Nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                            <!-- select Nivel -->
                            <mat-form-field style="width: 100%;">
                                <mat-label>{{ 'admision.aviso_nivel' | translate }}:</mat-label>
                                <mat-select [formControl]="CampoControl" [(ngModel)]="selectednivel"
                                    (selectionChange)="loadResumen()">
                                    <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                                    <mat-option *ngFor="let item of nivel_load" [value]="item.Nombre"> {{item.Nombre}}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="CampoControl.hasError('required')">{{ 'admision.erro_selec_nivel' |
                                    translate
                                    }}</mat-error>
                            </mat-form-field>
                            <br /><br />

                        </div>
                    </fieldset>
                </div>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <button class="boton-primary">{{
                            'GLOBAL.continuar' | translate }}</button>
                    </div>
                </div>

            </div>
        </fieldset>
    </mat-card-content>
</mat-card>

<mat-card class="card" style="margin-top: 20px;">
    <mat-card-content style="width: 100%; ">
        <fieldset [ngClass]="{'fieldseter':true}">
            <div class=col-12>
                <div class="title">
                    <legend>
                        &nbsp; Resumen Informacion
                    </legend>
                </div>


                <div>
                    <fieldset [ngClass]="{'fieldseter':true}">
                        <legend>
                            &nbsp; Calendario
                        </legend>
                        <div>
                            <p>Nombre Periodo:</p>
                            <p>{{nombrePeriodo}}</p>
                            <p>Fecha Global:</p>
                            <p>{{FechaGlobal}}</p>






                        </div>
                    </fieldset>
                </div>
                <div>
                    <fieldset [ngClass]="{'fieldseter':true}">
                        <legend>
                            &nbsp; Derechos Pecuniarios
                        </legend>
                        <div>

                        </div>
                    </fieldset>
                </div>
                <div>
                    <fieldset [ngClass]="{'fieldseter':true}">
                        <legend>
                            &nbsp; Proyectos Curriculares
                        </legend>
                        <div>
                            <table mat-table [dataSource]="proyectoCurricular">

                                <ng-container matColumnDef="nombre">
                                    <th mat-header-cell *matHeaderCellDef> Nombre </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                                </ng-container>

                                <ng-container matColumnDef="nivel">
                                    <th mat-header-cell *matHeaderCellDef> Nivel </th>
                                    <td mat-cell *matCellDef="let element"> {{element.NivelFormacionId.Nombre}} </td>
                                </ng-container>

                                <ng-container matColumnDef="facultad">
                                    <th mat-header-cell *matHeaderCellDef> Facultad </th>
                                    <td mat-cell *matCellDef="let element"> {{element.FacultadId}} </td>
                                </ng-container>

                                <ng-container matColumnDef="modalidad">
                                    <th mat-header-cell *matHeaderCellDef> Modalidad </th>
                                    <td mat-cell *matCellDef="let element"> {{element.MetodologiaId.Nombre}} </td>
                                </ng-container>

                                <ng-container matColumnDef="calendario">
                                    <th mat-header-cell *matHeaderCellDef> Calendario </th>
                                    <td mat-cell *matCellDef="let element"> {{nombrePeriodo}}</td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumnsProyectoCurricular"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumnsProyectoCurricular;"></tr>
                            </table>
                        </div>
                    </fieldset>
                </div>
                <div>
                    <fieldset [ngClass]="{'fieldseter':true}">
                        <legend>
                            &nbsp; Criterios y subCriterios
                        </legend>
                        <div *ngFor="let criterio of criterios">
                            <div>
                                <mat-card>
                                    <mat-card-header class="d-block">
                                        <div class="col-12">
                                            <strong>{{ 'admision.criterio' | translate }}: {{ criterio.Nombre
                                                }}</strong>
                                        </div>
                                        <div class="body_criterios">
                                            <strong>Descripcion: {{ criterio.Descripcion }}</strong>
                                            <br />
                                            <strong>Codigo Abreciacion: {{ criterio.CodigoAbreviacion }}</strong>
                                        </div>
                                        <br>
                                    </mat-card-header>
                                    <mat-card-content>
                                        <table mat-table [dataSource]="criterio.SubCriterios">
                                            <ng-container matColumnDef="nombre">
                                                <th mat-header-cell *matHeaderCellDef> Subcriterio Nombre </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Nombre}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="descripcion">
                                                <th mat-header-cell *matHeaderCellDef> Subcriterio Descripcion </th>
                                                <td mat-cell *matCellDef="let element"> {{element.Descripcion}} </td>
                                            </ng-container>
                                            <ng-container matColumnDef="activo">
                                                <th mat-header-cell *matHeaderCellDef> Subcriterio Estado </th>
                                                <td mat-cell *matCellDef="let element">
                                                    <p *ngIf="element.Activo"> Activo</p>
                                                    <p *ngIf="!element.Activo">Inactivo</p>
                                                </td>
                                            </ng-container>
                                            <tr mat-header-row *matHeaderRowDef="displayedColumnsSubCriterios"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumnsSubCriterios;">
                                            </tr>
                                        </table>

                                    </mat-card-content>
                                </mat-card>
                            </div>


                        </div>
                    </fieldset>
                </div>
                <div>
                    <fieldset [ngClass]="{'fieldseter':true}">
                        <legend>
                            &nbsp; Suite de inscripcion
                        </legend>
                        <div class="container" align="center">
                            <div class="row">
                                <mat-card class="exp-card" align="center"
                                    [ngClass]="{'isSelected':tagsObject.info_persona.selected}">
                                    <mat-card-header>{{ 'inscripcion.info_basica' | translate }}</mat-card-header>
                                    <mat-card-content class="icon-form" title="{{ 'GLOBAL.seleccionar' | translate }}">
                                        <mat-icon class="icon" fontIcon="account_circle"></mat-icon>
                                    </mat-card-content>
                                    <mat-card-footer>
                                        <mat-checkbox color="primary" (click)="$event.preventDefault()"
                                            [(ngModel)]="tagsObject.info_persona.required"><b>{{ 'GLOBAL.obligatorio' |
                                                translate
                                                }}</b></mat-checkbox>
                                    </mat-card-footer>
                                </mat-card>

                                <mat-card class="exp-card" align="center"
                                    [ngClass]="{'isSelected':tagsObject.formacion_academica.selected}">
                                    <mat-card-header>{{ 'inscripcion.formacion_academica' | translate
                                        }}</mat-card-header>
                                    <mat-card-content class="icon-form" title="{{ 'GLOBAL.seleccionar' | translate }}">
                                        <mat-icon class="icon" fontIcon="school"></mat-icon>
                                    </mat-card-content>
                                    <mat-card-footer>
                                        <mat-checkbox color="primary"
                                            (click)="!tagsObject.formacion_academica.selected ? $event.preventDefault() : ''"
                                            [(ngModel)]="tagsObject.formacion_academica.required"><b>{{
                                                'GLOBAL.obligatorio' |
                                                translate }}</b></mat-checkbox>
                                    </mat-card-footer>
                                </mat-card>

                                <mat-card class="exp-card" align="center"
                                    [ngClass]="{'isSelected':tagsObject.idiomas.selected}">
                                    <mat-card-header>{{ 'inscripcion.idiomas' | translate }}</mat-card-header>
                                    <mat-card-content class="icon-form" title="{{ 'GLOBAL.seleccionar' | translate }}">
                                        <mat-icon class="icon" fontIcon="public"></mat-icon>
                                    </mat-card-content>
                                    <mat-card-footer>
                                        <mat-checkbox color="primary"
                                            (click)="!tagsObject.idiomas.selected ? $event.preventDefault() : ''"
                                            [(ngModel)]="tagsObject.idiomas.required"><b>{{ 'GLOBAL.obligatorio' |
                                                translate
                                                }}</b></mat-checkbox>
                                    </mat-card-footer>
                                </mat-card>

                                <mat-card class="exp-card" align="center"
                                    [ngClass]="{'isSelected':tagsObject.experiencia_laboral.selected}">
                                    <mat-card-header>{{ 'inscripcion.experiencia_laboral' | translate
                                        }}</mat-card-header>
                                    <mat-card-content class="icon-form" title="{{ 'GLOBAL.seleccionar' | translate }}">
                                        <mat-icon class="icon" fontIcon="work"></mat-icon>
                                    </mat-card-content>
                                    <mat-card-footer>
                                        <mat-checkbox color="primary"
                                            (click)="!tagsObject.experiencia_laboral.selected ? $event.preventDefault() : ''"
                                            [(ngModel)]="tagsObject.experiencia_laboral.required"><b>{{
                                                'GLOBAL.obligatorio' |
                                                translate }}</b></mat-checkbox>
                                    </mat-card-footer>
                                </mat-card>

                                <mat-card class="exp-card" align="center"
                                    [ngClass]="{'isSelected':tagsObject.produccion_academica.selected}">
                                    <mat-card-header>{{ 'inscripcion.produccion_academica' | translate
                                        }}</mat-card-header>
                                    <mat-card-content class="icon-form" title="{{ 'GLOBAL.seleccionar' | translate }}">
                                        <mat-icon class="icon" fontIcon="book"></mat-icon>
                                    </mat-card-content>
                                    <mat-card-footer>
                                        <mat-checkbox color="primary"
                                            (click)="!tagsObject.produccion_academica.selected ? $event.preventDefault() : ''"
                                            [(ngModel)]="tagsObject.produccion_academica.required"><b>{{
                                                'GLOBAL.obligatorio' |
                                                translate }}</b></mat-checkbox>
                                    </mat-card-footer>
                                </mat-card>

                                <mat-card class="exp-card" align="center"
                                    [ngClass]="{'isSelected':tagsObject.documento_programa.selected}">
                                    <mat-card-header>{{ 'inscripcion.documento_programa' | translate
                                        }}</mat-card-header>
                                    <mat-card-content class="icon-form" title="{{ 'GLOBAL.seleccionar' | translate }}">
                                        <mat-icon class="icon" fontIcon="description"></mat-icon>
                                    </mat-card-content>
                                    <mat-card-footer>
                                        <mat-checkbox color="primary"
                                            (click)="!tagsObject.documento_programa.selected ? $event.preventDefault() : ''"
                                            [(ngModel)]="tagsObject.documento_programa.required"><b>{{
                                                'GLOBAL.obligatorio' |
                                                translate }}</b></mat-checkbox>
                                    </mat-card-footer>
                                </mat-card>

                                <mat-card class="exp-card" align="center"
                                    [ngClass]="{'isSelected':tagsObject.descuento_matricula.selected}">
                                    <mat-card-header>{{ 'inscripcion.descuento_matricula' | translate
                                        }}</mat-card-header>
                                    <mat-card-content class="icon-form" title="{{ 'GLOBAL.seleccionar' | translate }}">
                                        <mat-icon class="icon" fontIcon="attach_money"></mat-icon>
                                    </mat-card-content>
                                    <mat-card-footer>
                                        <mat-checkbox color="primary"
                                            (click)="!tagsObject.descuento_matricula.selected ? $event.preventDefault() : ''"
                                            [(ngModel)]="tagsObject.descuento_matricula.required"><b>{{
                                                'GLOBAL.obligatorio' |
                                                translate }}</b></mat-checkbox>
                                    </mat-card-footer>
                                </mat-card>

                                <mat-card class="exp-card" align="center"
                                    [ngClass]="{'isSelected':tagsObject.propuesta_grado.selected}">
                                    <mat-card-header>{{ 'inscripcion.propuesta_grado' | translate }}</mat-card-header>
                                    <mat-card-content class="icon-form" title="{{ 'GLOBAL.seleccionar' | translate }}">
                                        <mat-icon class="icon" fontIcon="insert_drive_file"></mat-icon>
                                    </mat-card-content>
                                    <mat-card-footer>
                                        <mat-checkbox color="primary"
                                            (click)="!tagsObject.propuesta_grado.selected ? $event.preventDefault() : ''"
                                            [(ngModel)]="tagsObject.propuesta_grado.required"><b>{{ 'GLOBAL.obligatorio'
                                                | translate
                                                }}</b></mat-checkbox>
                                    </mat-card-footer>
                                </mat-card>

                                <mat-card class="exp-card" align="center"
                                    [ngClass]="{'isSelected':tagsObject.perfil.selected}">
                                    <mat-card-header>{{ 'inscripcion.perfil' | translate }}</mat-card-header>
                                    <mat-card-content class="icon-form" title="{{ 'GLOBAL.seleccionar' | translate }}">
                                        <mat-icon class="icon" fontIcon="person"></mat-icon>
                                    </mat-card-content>
                                    <mat-card-footer>
                                        <mat-checkbox color="primary" (click)="$event.preventDefault()"
                                            [(ngModel)]="tagsObject.perfil.required"><b>{{ 'GLOBAL.obligatorio' |
                                                translate
                                                }}</b></mat-checkbox>
                                    </mat-card-footer>
                                </mat-card>
                            </div>
                            <br>
                        </div>

                    </fieldset>
                </div>
                <div class="container">
                    <div class="row justify-content-md-center">
                        <button class="boton-primary">{{
                            'GLOBAL.continuar' | translate }}</button>
                    </div>
                </div>

            </div>
        </fieldset>
    </mat-card-content>
</mat-card>