.full-screen-card {
    height: 80vh;
    width: 80vw; /* Establece la altura al 100% de la ventana */
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;   
    text-align: center;
}

.grid-3{
    flex: 1 1 calc(33.333% - 10px);
    margin: 1vw;
}

@media screen and (max-width: 800px) {
  .grid-3 {
    flex-basis: calc(50% - 10px); // Dos columnas en pantallas medianas
  }
}

@media screen and (max-width: 600px) {
  .grid-3 {
    flex-basis: 100%; /* Asegura que los elementos de la grilla tomen todo el ancho */
    margin: 10px 0; /* Añade un margen vertical para evitar la superposición */
  }
}

.primary-button{
    border: solid 1px #03678f;
    border-radius: 5px;
    font-weight: 300;
    background-color: #03678f;
    border-color: #03678f;
    margin: 0;
    cursor: pointer;
    color: white !important;
}

.centrar{
    text-align: center;
    align-items: center;
}

.table-reporte {
  padding: 5%;
  width: 100%;
}

.blue-snackbar {
  --mdc-snackbar-container-color: #2196f3;
  --mat-mdc-snack-bar-button-color: #fff;
  --mdc-snackbar-supporting-text-color: #fff;
}

.red-snackbar {
  background: #da0e3e;
}