<mat-card class="card">
    <mat-card-content style="width: 100%;">
        <div class=col-12>
            <fieldset [ngClass]="{'fieldseter':true}">
                <legend>
                    &nbsp; {{ 'admision.criterios_proyectos' | translate }}
                </legend>

                <mat-card [hidden]="show_profile || show_icfes ">
                    <mat-card-content>
                        <!-- select periodo -->
                        <mat-form-field style="width: 40%;">
                            <mat-label>{{ 'admision.aviso_periodo' | translate }}:</mat-label>
                            <mat-select [(ngModel)]="periodo" [disabled]='false' (selectionChange)="selectPeriodo()">
                                <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                                <mat-option *ngFor="let item of periodos" [value]="item">
                                    {{item.Nombre}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <!-- select Nivel -->
                        <mat-form-field style="width: 100%;">
                            <mat-label>{{ 'admision.aviso_nivel' | translate }}:</mat-label>
                            <mat-select [formControl]="CampoControl" [(ngModel)]="selectednivel"
                                (selectionChange)="loadProyectos()">
                                <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                                <mat-option *ngFor="let item of niveles" [value]="item.Id">
                                    {{item.Nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="CampoControl.hasError('required')">
                                {{ 'admision.erro_selec_nivel' | translate }}
                            </mat-error>
                        </mat-form-field>

                        <!-- select proyectos -->
                        <mat-form-field style="width: 100%;">
                            <mat-label>{{ 'admision.aviso_proyecto' | translate }}:</mat-label>
                            <mat-select [formControl]="Campo1Control" [(ngModel)]="proyectos_selected"
                                (selectionChange)="activeCriterios()">
                                <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                                <mat-option *ngFor="let project of proyectos" [value]="project.Id"
                                    [disabled]="!project.Id">{{ project.Nombre }}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="Campo1Control.hasError('required')">
                                {{ 'admision.erro_selec_proyecto' | translate }}
                            </mat-error>
                        </mat-form-field>


                        <!-- select criterios -->
                        <mat-form-field style="width: 100%;">
                            <mat-label>{{ 'admision.aviso_criterios' | translate }}:</mat-label>
                            <mat-select [formControl]="Campo2Control" [(ngModel)]="criterio_selected"
                                (selectionChange)="viewtab()" [disabled]='selectcriterio' multiple>
                                <mat-option *ngFor="let item of criterios" [value]="item">
                                    {{item.Nombre}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="Campo2Control.hasError('required')">
                                {{ 'admision.erro_selec_criterio' | translate }}
                            </mat-error>
                        </mat-form-field>
                        <br />
                        <!-- Tag de criterios -->
                        <div class="row">

                            <div style="width:800px; margin:0 auto; overflow: auto;" id="info_tipo"
                                *ngIf="selectTipo==true">

                                <div class="mat-elevation-z8">
                                    <table mat-table [dataSource]="dataSource" matSort>


                                        <ng-container matColumnDef="criterio">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 45%;">
                                                {{'admision.criterio' |
                                                translate}} </th>
                                            <td mat-cell *matCellDef="let row"> {{row.Criterio}} </td>
                                        </ng-container>

                                        <ng-container matColumnDef="porentaje">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 30%;">
                                                {{'admision.porcentaje' |
                                                translate}} </th>
                                            <td mat-cell *matCellDef="let row">
                                                <input type="text" class="input-table" [(ngModel)]="row.Porcentaje"
                                                [disabled]="!row.mostrarBotones" #inputRef>
                                            </td>
                                        </ng-container>

                                        <ng-container matColumnDef="acciones">
                                            <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'GLOBAL.acciones' |
                                                translate}} </th>
                                            <td mat-cell *matCellDef="let row">
                                                <div class="separacion-acciones">
                                                    <button aria-hidden="false" *ngIf="!row.mostrarBotones"
                                                        title="{{'admision.tooltip_editar' | translate}}"
                                                        class="table-button-edit icon"
                                                        (click)="onEdit({data: row, isSelected:false });buttonedit(row)">
                                                        <mat-icon fontIcon="edit"></mat-icon>
                                                    </button>
                                                    <button aria-hidden="false" *ngIf="row.mostrarBotones"
                                                        title="{{'admision.tooltip_guargar' | translate}}"
                                                        class="table-button icon"
                                                        (click)="calcularPorcentaje(); buttonedit(row)  ">
                                                        <mat-icon fontIcon="check"></mat-icon>
                                                    </button>
                                                    <button aria-hidden="false" *ngIf="row.mostrarBotones"
                                                        title="{{'admision.tooltip_cancelar' | translate}}"
                                                        class="table-button icon" (click)="buttonedit(row)">
                                                        <mat-icon fontIcon="close"></mat-icon>
                                                    </button>
                                                </div>

                                        </ng-container>

                                        <tr mat-header-row *matHeaderRowDef="dataSourceColumns"></tr>
                                        <tr mat-row *matRowDef="let row; columns: dataSourceColumns;"></tr>

                                        <!-- Row shown when there is no matching data. -->
                                        <tr class="mat-row" *matNoDataRow>
                                            <td class="mat-cell" colspan="4">{{'calendario.sin_procesos' | translate}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <br />
                                <div class="aviso_criterio" align="center">
                                    <label class="fondo_aviso">
                                        <strong>{{ 'admision.nota' | translate }}:</strong> {{ 'admision.aviso_sub' |
                                        translate }}
                                    </label>
                                </div>
                                <br />
                                <div class="col-12" style="text-align: center; margin:0 auto;">
                                    <mat-label>{{ 'admision.total' | translate }}: {{ porcentajeTotal }} %</mat-label>
                                </div>
                                <br />
                                <div class="col-12" style="text-align: center; margin:0 auto;">
                                    <button class="boton-primary" mat-button type="button" (click)="guardar()">{{
                                        'GLOBAL.guardar' | translate
                                        }} </button>
                                </div>
                                <div *ngIf="mostrarSubcriterio">
                                    <br />
                                    <mat-label>{{ 'admision.subcriterios' | translate }}</mat-label>



                                    <div class="mat-elevation-z8">
                                        <table mat-table [dataSource]="dataSourceSubcriterio" matSort>


                                            <ng-container matColumnDef="criterio">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                    style="width: 45%;">
                                                    {{'admision.subCriterio' |
                                                    translate}} </th>
                                                <td mat-cell *matCellDef="let row"> {{row.Criterio}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="porentaje">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header
                                                    style="width: 30%;">
                                                    {{'admision.porcentaje' |
                                                    translate}} </th>
                                                <td mat-cell *matCellDef="let row"> <input type="text"
                                                        class="input-table" [(ngModel)]="row.Porcentaje"
                                                        [disabled]=" !row.mostrarBotones "> </td>
                                            </ng-container>

                                            <ng-container matColumnDef="acciones">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                    {{'GLOBAL.acciones' |
                                                    translate}} </th>
                                                <td mat-cell *matCellDef="let row">
                                                    <div class="separacion-acciones">
                                                        <button aria-hidden="false" *ngIf=" !row.mostrarBotones"
                                                            title="{{'admision.tooltip_editar' | translate}}"
                                                            class="table-button-edit icon"
                                                            (click)="onEditSubcriterio({data: row}); buttonedit(row)">
                                                            <mat-icon fontIcon="edit"></mat-icon>
                                                        </button>
                                                        <button aria-hidden="false" *ngIf=" row.mostrarBotones"
                                                            title="{{'admision.tooltip_guargar' | translate}}"
                                                            class="table-button icon"
                                                            (click)=" calcularPorcentajeSubcriterio();buttonedit(row) ">
                                                            <mat-icon fontIcon="check"></mat-icon>
                                                        </button>
                                                        <button aria-hidden="false" *ngIf=" row.mostrarBotones"
                                                            title="{{'admision.tooltip_cancelar' | translate}}"
                                                            class="table-button icon"
                                                            (click)="buttonedit(row)">
                                                            <mat-icon fontIcon="close"></mat-icon>
                                                        </button>
                                                    </div>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="dataSourceColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: dataSourceColumns;"></tr>

                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="4">{{'calendario.sin_procesos' |
                                                    translate}}
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                    <br />
                                    <div class="col-12" style="text-align: center; margin:0 auto;">
                                        <mat-label>{{ 'admision.total' | translate }}: {{ porcentajeSubcriterioTotal }}
                                            %</mat-label>
                                    </div>
                                    <br />
                                    <div class="col-12" style="text-align: center; margin:0 auto;">
                                        <button class="boton-primary" mat-button type="button"
                                            (click)="guardarSubcriterio()">{{
                                            'admision.guardarSubcriterio' | translate }} </button>
                                    </div>
                                </div>
                                <br />

                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>

                <!--Formularios------------------------------------------------------------->


                <mat-card [hidden]="!show_icfes">
                    <mat-card-content>
                        <div class="row">
                            <div class="col-md-1" align="left">
                                <button class="btn btn-danger btn-icon input-group-text btn-tn" (click)="show_profile=false;
                                show_icfes=false;
                                show_acad=false;">

                                </button>
                            </div>
                        </div>
                        <mat-tab-group fullWidth>
                            <mat-tab>
                            </mat-tab>
                        </mat-tab-group>
                    </mat-card-content>
                </mat-card>
            </fieldset>
        </div>
    </mat-card-content>
</mat-card>