.center-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mt-20{
  margin-top: 20px;
}

.boton-primary {
  background-color: #03678f;
  color: white;
  padding: 10px 20px;
  border: 1px solid #03678f;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-alert {
  padding: 15px;
  background-color: var(--md-warning-300);
  border-radius: 4px;
  width: 90%; 
  display: flex; 
  justify-content: space-around; 
}



.responsive-form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .form-grid3{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .form-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .form-grid4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  
  .form-item {
    display: flex;
  }
  
  .form-field {
    width: 100%;
  }
  
  .form-col1 {
    grid-column: span 1;
  }
  
  .form-col2 {
    grid-column: span 2;
  }
  
  .form-col3 {
    grid-column: span 3;
  }
  
  .form-col4 {
    grid-column: span 4;
  }
  
  .full-width {
    grid-column: span 3;
  }
  
  .half-width {
    grid-column: span 2;
  }
  
  .one-third-width {
    grid-column: span 1;
  }
  
  @media (max-width: 1200px) {
    .form-grid4 {
      grid-template-columns: repeat(3, 1fr);
    }
  
    .full-width, .form-col4 {
      grid-column: span 3;
    }
    .form-col2 {
      grid-column: span 2;
    }
  }
  
  @media (max-width: 992px) {
    .responsive-form,
    .form-grid3,
    .form-grid4 {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .full-width,
    .form-col2,
    .form-col3,
    .form-col4 {
      grid-column: span 2;
    }
  }
  
  /* Responsive layout for smaller screens */
  @media (max-width: 768px) {
    .responsive-form, .form-grid3, .form-grid4, .form-grid2{
      grid-template-columns: 1fr;
    }
  
    .form-item {
      width: 100%;
    }
  
    .full-width,
    .half-width,
    .one-third-width,
    .form-col1,
    .form-col2,
    .form-col3,
    .form-col4 {
      grid-column: span 1;
    }
  }
  