.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.blue-header {
  background-color: #03678f;
  color: white;
  padding: 16px;
}

.blue-header-icon {
  background-color: #03678f;
  color: white;
  border: none;
  margin-right: 0.5rem;
  outline: none;
  padding: 3px;
  border-radius: 4px;
}

mat-header-cell {
  background-color: #03678f !important;
  color: white !important;
}

mat-cell,
mat-header-cell {
  border-right: 1px solid #e0e0e0;
}

.info-boxes {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.info-box {
  padding: 16px;
  background-color: #e0f7fa;
  border: 1px solid #4dd0e1;
  border-radius: 4px;
  text-align: center;
  width: 45%;
}
