/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

