<mat-card>
    <div [class.loader-div]="loading">
        <mat-spinner *ngIf="loading" diameter="100" color="primary"></mat-spinner>
    </div>
    <mat-card-header>
        <mat-card-title>{{ 'admision.listar_aspirantes_proyecto' | translate }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="">
            <div class="info contenedor-info">
                <mat-icon class="info-icon">info</mat-icon> &nbsp;
                <span>{{ 'admision.info_lista_proyecto_activos' | translate }}</span>
            </div>
            <form class="form-grid2" [formGroup]="infoFiltrado">
                <!-- select periodo -->
                <div class="form-col1">
                    <mat-form-field>
                        <mat-label>{{ 'calendario.periodo' | translate }}:</mat-label>
                        <mat-select [(ngModel)]="periodo" formControlName="periodoFormControl" (selectionChange)="cambiarPeriodo()">
                            <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                            <mat-option *ngFor="let item of periodos" [value]="item">
                                {{item.Nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <!-- select Nivel -->
                <div>
                    <mat-form-field>
                        <mat-label>{{ 'GLOBAL.nivel' | translate }}:</mat-label>
                        <mat-select formControlName="nivelFormControl" [(ngModel)]="nivel"
                            (selectionChange)="cargarProyectos()">
                            <mat-option>--{{ 'GLOBAL.seleccionar' | translate }}--</mat-option>
                            <mat-option *ngFor="let item of niveles" [value]="item.Id">
                                {{item.Nombre}}
                            </mat-option>
                        </mat-select>
                        <!-- <mat-error *ngIf="nivelFormControl.hasError('required')">{{ 'cupos.error_selec_nivel' |
                            translate
                            }}</mat-error> -->
                    </mat-form-field>
                </div>
            </form>

            <div *ngIf="proyectosActivosConListaAspirantes != null">
                <hr>
                <h5 class="">{{ 'GLOBAL.lista' | translate }}</h5>
                <hr class="">
            </div>
            <mat-accordion>
                <mat-expansion-panel *ngFor="let proyecto of proyectosActivosConListaAspirantes; let i = index">
                    <mat-expansion-panel-header>
                        <mat-panel-title>{{ proyecto.NombreProyecto }}</mat-panel-title>
                        <mat-panel-description>{{ 'GLOBAL.aspirantes_inscritos' | translate }}: <b class="ml-1"> {{
                                proyecto.cantidad_aspirantes}}</b></mat-panel-description>
                    </mat-expansion-panel-header>

                    <!-- Muestra la información del proyecto si hay aspirantes -->
                    <div *ngIf="proyecto.cantidad_aspirantes != 0">
                        <!-- Tarjeta con resumen de estados de inscripción -->
                        <mat-card class="card-2" status="success" style="border: 1px solid var(--primary);">
                            <mat-card-header class="card-header">
                                {{ 'admision.resumen_estados_inscripcion' | translate }}
                            </mat-card-header>
                            <mat-card-content class="card-content">
                                <label>{{ 'admision.estado_inscrip_solicitada' | translate }}: <b>{{
                                        proyecto.cantidad_inscrip_solicitada }}</b></label>
                                <label>{{ 'admision.estado_admitido' | translate }}: <b>{{
                                        proyecto.cantidad_admitidos
                                        }}</b></label>
                                <label>{{ 'admision.estado_opcionado' | translate }}: <b>{{
                                        proyecto.cantidad_opcionados
                                        }}</b></label>
                                <label>{{ 'admision.estado_no_admitido' | translate }}: <b>{{
                                        proyecto.cantidad_no_admitidos }}</b></label>
                                <label>{{ 'admision.estado_inscrito' | translate }}: <b>{{
                                        proyecto.cantidad_inscritos
                                        }}</b></label>
                                <label>{{ 'admision.estado_inscrito_observacion' | translate }}: <b>{{
                                        proyecto.cantidad_inscritos_obs }}</b></label>
                                <label>{{ 'admision.total_aspirantes' | translate }}: <b>{{
                                        proyecto.cantidad_aspirantes
                                        }}</b></label>
                            </mat-card-content>
                        </mat-card>

                        <mat-card class="" *ngIf="proyecto.cuposProyecto != 'noDefinidoCupos'">
                            <mat-card-header class="cupos-disponibles">
                                <label class="mr-5">{{ 'cupos.cupos_proyecto' | translate }}:
                                    <b>{{proyecto.cuposProyecto}}</b></label>
                                <label>{{ 'cupos.cupos_disponibles' | translate }} <b>{{(proyecto.cuposProyecto
                                        -
                                        proyecto.cantidad_admitidos )}}</b></label>
                            </mat-card-header>
                        </mat-card>

                        <div *ngIf="proyecto.cuposProyecto == 'noDefinidoCupos'">
                            <div class="info">
                                <span>{{ 'cupos.sin_cupos_periodo' | translate }}</span>
                            </div>
                        </div>

                        <mat-form-field class="filtro">
                            <mat-label>{{"GLOBAL.filtro" | translate}}</mat-label>
                            <input matInput (keyup)="buscarTermino($event, proyecto.dataSource)" placeholder="Ex. Mia" #input>
                        </mat-form-field>

                        <div class="contenedor-tabla">
                            <table mat-table [dataSource]="proyecto.dataSource" class="table-bordered">
                                <ng-container *ngFor="let columna of aspirantesConstructorTabla"
                                    [matColumnDef]="columna.columnDef">
                                    <th mat-header-cell *matHeaderCellDef> <b>{{ columna.header }}</b></th>
                                    <td mat-cell *matCellDef="let row"> {{ columna.cell(row) }}</td>
                                </ng-container>
    
                                <tr mat-header-row *matHeaderRowDef="aspirantesColumnas"></tr>
                                <tr mat-row *matRowDef="let row; columns: aspirantesColumnas;"></tr>
                            </table>
                        </div>

                        <mat-paginator [length]="proyecto.dataSource.filteredData.length" [pageSize]="3"
                            [pageSizeOptions]="[3, 5, 10]" showFirstLastButtons #paginator>
                        </mat-paginator>
                    </div>

                    <!-- Mensaje si no hay aspirantes -->
                    <div *ngIf="proyecto.cantidad_aspirantes == 0">
                        <div class="info">
                            <mat-icon class="info-icon">info</mat-icon> &nbsp;
                            <span>{{ 'admision.proyecto_sin_aspirantes' | translate }}</span>
                        </div>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
    </mat-card-content>
</mat-card>